# DNA Methylation P Values

In [1]:
import pandas as pd
from scipy.stats import ttest_ind_from_stats
import math
from IPython.display import display, HTML

In [2]:
#https://www.graphpad.com/quickcalcs/ttest2/

In [3]:
data_path = "data/P_Value_Calcuate/"
result_path = "Result/P_Value_Calcuate/"

In [4]:
df = pd.read_csv(data_path + "P_value_calculation_from_mean_and_SD.csv")

In [5]:
columns1 = ['one','Average1','SD1']
columns2 = ['two','Average2','SD2']
columns3 = ['three','Average3','SD3']
columns4 = ['four','Average4','SD4']
columns5 = ['five','Average5','SD5']
columns6 = ['six','Average6','SD6']
columns7 = ['seven','Average7','SD7']
columns8 = ['eight','Average8','SD8']

In [10]:
def get_p_values(Experiment,cnames):
    n = 3
    p_values=['p-values','NA']
    for i in range(2,5):
        m1 = float(Experiment[cnames[1]][1])
        std1 = float(Experiment[cnames[2]][1])
        m2 = float(Experiment[cnames[1]][i])
        std2 = float(Experiment[cnames[2]][i])
        print("Air : ", "Mean : ", m1 , "SD : " , std1, "N : ", n )
        print(Experiment[cnames[0]][i], "Mean : ", m2 , "SD : " , std2, "N : ", n  )
        tstat, pvalue = ttest_ind_from_stats(m1, std1, n, m2, std2, n)
        print("P-Value : ", pvalue)
        p_values.append(round(pvalue,4))
        print('*'*20)
    Experiment['p_vales']= p_values
    return Experiment.copy()


def get_experiment(data,cnames,result_path,filename):
    totalExperiments = math.ceil(len(df)/6)
    for i in range(0, len(data), 5):
        Experiment = data.loc[i:i+4,cnames].copy().reset_index(drop = True)
        print("Data : ")
        display(Experiment)
        print("*"*20)
        Result = get_p_values(Experiment,cnames)
        print("Result : ",'*'*20)
        display(Result)
        file_path = result_path + filename + ".csv"
        Result.to_csv(file_path, mode='a', header=True)

In [11]:
get_experiment(df,columns1,result_path,"df-part-1")

Data :

                      one  Average1   SD1
0  Normalized to B actin   AHRR-PT7    SD
1                     air      1.00  0.07
2                  4l/min      0.99  0.16
3                  1l/min      1.05  0.19
4                0.5l/min      1.01  0.13

********************
Air :  Mean :  1.0 SD :  0.07 N :  3
4l/min Mean :  0.99 SD :  0.16 N :  3
P-Value :  0.925769325506
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
1l/min Mean :  1.05 SD :  0.19 N :  3
P-Value :  0.690890460026
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
0.5l/min Mean :  1.01 SD :  0.13 N :  3
P-Value :  0.912269371728
********************
Result :  ********************

                      one  Average1   SD1   p_vales
0  Normalized to B actin   AHRR-PT7    SD  p-values
1                     air      1.00  0.07        NA
2                  4l/min      0.99  0.16    0.9258
3                  1l/min      1.05  0.19    0.6909
4                0.5l/min      1.01  0.13    0.9123

Data :

                      one    Average1   SD1
0  Normalized to B actin   ALU RT-PT7    SD
1                     air        1.00  0.09
2                  4l/min        0.93  0.25
3                  1l/min        0.94  0.22
4                0.5l/min        0.77  0.05

********************
Air :  Mean :  1.0 SD :  0.09 N :  3
4l/min Mean :  0.93 SD :  0.25 N :  3
P-Value :  0.671847165206
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
1l/min Mean :  0.94 SD :  0.22 N :  3
P-Value :  0.684529222738
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
0.5l/min Mean :  0.77 SD :  0.05 N :  3
P-Value :  0.0180037706802
********************
Result :  ********************

                      one    Average1   SD1   p_vales
0  Normalized to B actin   ALU RT-PT7    SD  p-values
1                     air        1.00  0.09        NA
2                  4l/min        0.93  0.25    0.6718
3                  1l/min        0.94  0.22    0.6845
4                0.5l/min        0.77  0.05     0.018

Data :

                      one  Average1   SD1
0  Normalized to B actin   GPX3-PT7    SD
1                     air      1.01  0.12
2                  4l/min      1.06  0.01
3                  1l/min      0.95  0.03
4                0.5l/min      1.20  0.06

********************
Air :  Mean :  1.01 SD :  0.12 N :  3
4l/min Mean :  1.06 SD :  0.01 N :  3
P-Value :  0.511796947846
********************
Air :  Mean :  1.01 SD :  0.12 N :  3
1l/min Mean :  0.95 SD :  0.03 N :  3
P-Value :  0.448099873165
********************
Air :  Mean :  1.01 SD :  0.12 N :  3
0.5l/min Mean :  1.2 SD :  0.06 N :  3
P-Value :  0.0702265134508
********************
Result :  ********************

                      one  Average1   SD1   p_vales
0  Normalized to B actin   GPX3-PT7    SD  p-values
1                     air      1.01  0.12        NA
2                  4l/min      1.06  0.01    0.5118
3                  1l/min      0.95  0.03    0.4481
4                0.5l/min      1.20  0.06    0.0702

Data :

                      one      Average1   SD1
0  Normalized to B actin   HS 3 UTR-PT7    SD
1                     air          1.00  0.08
2                  4l/min          1.07  0.31
3                  1l/min          0.94  0.21
4                0.5l/min          0.88  0.02

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  1.07 SD :  0.31 N :  3
P-Value :  0.724152552795
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  0.94 SD :  0.21 N :  3
P-Value :  0.667794069192
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  0.88 SD :  0.02 N :  3
P-Value :  0.0653216768288
********************
Result :  ********************

                      one      Average1   SD1   p_vales
0  Normalized to B actin   HS 3 UTR-PT7    SD  p-values
1                     air          1.00  0.08        NA
2                  4l/min          1.07  0.31    0.7242
3                  1l/min          0.94  0.21    0.6678
4                0.5l/min          0.88  0.02    0.0653

Data :

                      one      Average1   SD1
0  Normalized to B actin   HS 5 UTR-PT7    SD
1                     air          1.00  0.09
2                  4l/min          1.06  0.21
3                  1l/min          0.97  0.20
4                0.5l/min          0.89  0.02

********************
Air :  Mean :  1.0 SD :  0.09 N :  3
4l/min Mean :  1.06 SD :  0.21 N :  3
P-Value :  0.672803699741
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
1l/min Mean :  0.97 SD :  0.2 N :  3
P-Value :  0.824354728558
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
0.5l/min Mean :  0.89 SD :  0.02 N :  3
P-Value :  0.107651354643
********************
Result :  ********************

                      one      Average1   SD1   p_vales
0  Normalized to B actin   HS 5 UTR-PT7    SD  p-values
1                     air          1.00  0.09        NA
2                  4l/min          1.06  0.21    0.6728
3                  1l/min          0.97  0.20    0.8244
4                0.5l/min          0.89  0.02    0.1077

Data :

                      one  Average1   SD1
0  Normalized to B actin   ORF1-PT7    SD
1                     air      1.00  0.03
2                  4l/min      1.11  0.34
3                  1l/min      0.93  0.18
4                0.5l/min      0.81  0.05

********************
Air :  Mean :  1.0 SD :  0.03 N :  3
4l/min Mean :  1.11 SD :  0.34 N :  3
P-Value :  0.606474289905
********************
Air :  Mean :  1.0 SD :  0.03 N :  3
1l/min Mean :  0.93 SD :  0.18 N :  3
P-Value :  0.542771068499
********************
Air :  Mean :  1.0 SD :  0.03 N :  3
0.5l/min Mean :  0.81 SD :  0.05 N :  3
P-Value :  0.00485304884472
********************
Result :  ********************

                      one  Average1   SD1   p_vales
0  Normalized to B actin   ORF1-PT7    SD  p-values
1                     air      1.00  0.03        NA
2                  4l/min      1.11  0.34    0.6065
3                  1l/min      0.93  0.18    0.5428
4                0.5l/min      0.81  0.05    0.0049

Data :

                      one  Average1   SD1
0  Normalized to B actin   ORF2-PT7    SD
1                     air      1.00  0.11
2                  4l/min      1.08  0.30
3                  1l/min      1.03  0.22
4                0.5l/min      0.96  0.06

********************
Air :  Mean :  1.0 SD :  0.11 N :  3
4l/min Mean :  1.08 SD :  0.3 N :  3
P-Value :  0.686906759816
********************
Air :  Mean :  1.0 SD :  0.11 N :  3
1l/min Mean :  1.03 SD :  0.22 N :  3
P-Value :  0.843015820152
********************
Air :  Mean :  1.0 SD :  0.11 N :  3
0.5l/min Mean :  0.96 SD :  0.06 N :  3
P-Value :  0.609756417958
********************
Result :  ********************

                      one  Average1   SD1   p_vales
0  Normalized to B actin   ORF2-PT7    SD  p-values
1                     air      1.00  0.11        NA
2                  4l/min      1.08  0.30    0.6869
3                  1l/min      1.03  0.22     0.843
4                0.5l/min      0.96  0.06    0.6098

Data :

                      one    Average1   SD1
0  Normalized to B actin   CYP1A1-PT7    SD
1                     air        1.04  0.31
2                  4l/min        0.93  0.06
3                  1l/min        2.26  1.09
4                0.5l/min        5.05  1.99

********************
Air :  Mean :  1.04 SD :  0.31 N :  3
4l/min Mean :  0.93 SD :  0.06 N :  3
P-Value :  0.578787438819
********************
Air :  Mean :  1.04 SD :  0.31 N :  3
1l/min Mean :  2.26 SD :  1.09 N :  3
P-Value :  0.135663689729
********************
Air :  Mean :  1.04 SD :  0.31 N :  3
0.5l/min Mean :  5.05 SD :  1.99 N :  3
P-Value :  0.0260873353492
********************
Result :  ********************

                      one    Average1   SD1   p_vales
0  Normalized to B actin   CYP1A1-PT7    SD  p-values
1                     air        1.04  0.31        NA
2                  4l/min        0.93  0.06    0.5788
3                  1l/min        2.26  1.09    0.1357
4                0.5l/min        5.05  1.99    0.0261

Data :

                      one    Average1   SD1
0  Normalized to B actin   DNMT3B-PT7    SD
1                     air        1.00  0.12
2                  4l/min        1.04  0.10
3                  1l/min        0.94  0.18
4                0.5l/min        0.86  0.02

********************
Air :  Mean :  1.0 SD :  0.12 N :  3
4l/min Mean :  1.04 SD :  0.1 N :  3
P-Value :  0.680314841181
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
1l/min Mean :  0.94 SD :  0.18 N :  3
P-Value :  0.656045011943
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
0.5l/min Mean :  0.86 SD :  0.02 N :  3
P-Value :  0.117017676337
********************
Result :  ********************

                      one    Average1   SD1   p_vales
0  Normalized to B actin   DNMT3B-PT7    SD  p-values
1                     air        1.00  0.12        NA
2                  4l/min        1.04  0.10    0.6803
3                  1l/min        0.94  0.18     0.656
4                0.5l/min        0.86  0.02     0.117

Data :

                      one    Average1   SD1
0  Normalized to B actin   DNMT3A-PT7    SD
1                     air        1.00  0.08
2                  4l/min        1.08  0.15
3                  1l/min        0.99  0.09
4                0.5l/min        1.09  0.02

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  1.08 SD :  0.15 N :  3
P-Value :  0.46077246745
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  0.99 SD :  0.09 N :  3
P-Value :  0.892583242407
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  1.09 SD :  0.02 N :  3
P-Value :  0.131693040722
********************
Result :  ********************

                      one    Average1   SD1   p_vales
0  Normalized to B actin   DNMT3A-PT7    SD  p-values
1                     air        1.00  0.08        NA
2                  4l/min        1.08  0.15    0.4608
3                  1l/min        0.99  0.09    0.8926
4                0.5l/min        1.09  0.02    0.1317

Data :

                      one   Average1   SD1
0  Normalized to B actin   DNMT1-PT7    SD
1                     air       1.00  0.09
2                  4l/min       0.97  0.06
3                  1l/min       0.83  0.13
4                0.5l/min       0.85  0.08

********************
Air :  Mean :  1.0 SD :  0.09 N :  3
4l/min Mean :  0.97 SD :  0.06 N :  3
P-Value :  0.656045011943
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
1l/min Mean :  0.83 SD :  0.13 N :  3
P-Value :  0.136044587496
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
0.5l/min Mean :  0.85 SD :  0.08 N :  3
P-Value :  0.0971517066201
********************
Result :  ********************

                      one   Average1   SD1   p_vales
0  Normalized to B actin   DNMT1-PT7    SD  p-values
1                     air       1.00  0.09        NA
2                  4l/min       0.97  0.06     0.656
3                  1l/min       0.83  0.13     0.136
4                0.5l/min       0.85  0.08    0.0972

Data :

                      one  Average1   SD1
0  Normalized to B actin   TET1-PT7    SD
1                     air      1.01  0.14
2                  4l/min      0.99  0.12
3                  1l/min      0.93  0.12
4                0.5l/min      0.93  0.17

********************
Air :  Mean :  1.01 SD :  0.14 N :  3
4l/min Mean :  0.99 SD :  0.12 N :  3
P-Value :  0.860126058695
********************
Air :  Mean :  1.01 SD :  0.14 N :  3
1l/min Mean :  0.93 SD :  0.12 N :  3
P-Value :  0.494166918007
********************
Air :  Mean :  1.01 SD :  0.14 N :  3
0.5l/min Mean :  0.93 SD :  0.17 N :  3
P-Value :  0.563371975193
********************
Result :  ********************

                      one  Average1   SD1   p_vales
0  Normalized to B actin   TET1-PT7    SD  p-values
1                     air      1.01  0.14        NA
2                  4l/min      0.99  0.12    0.8601
3                  1l/min      0.93  0.12    0.4942
4                0.5l/min      0.93  0.17    0.5634

Data :

                      one  Average1   SD1
0  Normalized to B actin   TET2-PT7    SD
1                     air      1.00  0.08
2                  4l/min      1.02  0.16
3                  1l/min      0.91  0.09
4                0.5l/min      1.08  0.09

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  1.02 SD :  0.16 N :  3
P-Value :  0.855886729345
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  0.91 SD :  0.09 N :  3
P-Value :  0.265150254141
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  1.08 SD :  0.09 N :  3
P-Value :  0.31396040703
********************
Result :  ********************

                      one  Average1   SD1   p_vales
0  Normalized to B actin   TET2-PT7    SD  p-values
1                     air      1.00  0.08        NA
2                  4l/min      1.02  0.16    0.8559
3                  1l/min      0.91  0.09    0.2652
4                0.5l/min      1.08  0.09     0.314

Data :

                      one  Average1   SD1
0  Normalized to B actin   TET3-PT7    SD
1                     air      1.01  0.13
2                  4l/min      1.08  0.10
3                  1l/min      1.01  0.07
4                0.5l/min      1.06  0.04

********************
Air :  Mean :  1.01 SD :  0.13 N :  3
4l/min Mean :  1.08 SD :  0.1 N :  3
P-Value :  0.500795676769
********************
Air :  Mean :  1.01 SD :  0.13 N :  3
1l/min Mean :  1.01 SD :  0.07 N :  3
P-Value :  1.0
********************
Air :  Mean :  1.01 SD :  0.13 N :  3
0.5l/min Mean :  1.06 SD :  0.04 N :  3
P-Value :  0.558924871892
********************
Result :  ********************

                      one  Average1   SD1   p_vales
0  Normalized to B actin   TET3-PT7    SD  p-values
1                     air      1.01  0.13        NA
2                  4l/min      1.08  0.10    0.5008
3                  1l/min      1.01  0.07         1
4                0.5l/min      1.06  0.04    0.5589

In [13]:
get_experiment(df,columns2,result_path,"df-part-2")

Data :

                   two  Average2   SD2
0  Normalized to GAPDH  AHRR-PT7    SD
1                  air      1.00  0.09
2               4l/min      0.97  0.27
3               1l/min      1.02  0.12
4             0.5l/min      1.25  0.06

********************
Air :  Mean :  1.0 SD :  0.09 N :  3
4l/min Mean :  0.97 SD :  0.27 N :  3
P-Value :  0.864012021037
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
1l/min Mean :  1.02 SD :  0.12 N :  3
P-Value :  0.828692856616
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
0.5l/min Mean :  1.25 SD :  0.06 N :  3
P-Value :  0.0160871745798
********************
Result :  ********************

                   two  Average2   SD2   p_vales
0  Normalized to GAPDH  AHRR-PT7    SD  p-values
1                  air      1.00  0.09        NA
2               4l/min      0.97  0.27     0.864
3               1l/min      1.02  0.12    0.8287
4             0.5l/min      1.25  0.06    0.0161

Data :

                   two    Average2   SD2
0  Normalized to GAPDH  ALU RT-PT7    SD
1                  air        1.00  0.10
2               4l/min        0.92  0.35
3               1l/min        0.91  0.20
4             0.5l/min        0.94  0.08

********************
Air :  Mean :  1.0 SD :  0.1 N :  3
4l/min Mean :  0.92 SD :  0.35 N :  3
P-Value :  0.72280466346
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
1l/min Mean :  0.91 SD :  0.2 N :  3
P-Value :  0.524110442534
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
0.5l/min Mean :  0.94 SD :  0.08 N :  3
P-Value :  0.462603939709
********************
Result :  ********************

                   two    Average2   SD2   p_vales
0  Normalized to GAPDH  ALU RT-PT7    SD  p-values
1                  air        1.00  0.10        NA
2               4l/min        0.92  0.35    0.7228
3               1l/min        0.91  0.20    0.5241
4             0.5l/min        0.94  0.08    0.4626

Data :

                   two  Average2   SD2
0  Normalized to GAPDH  GPX3-PT7    SD
1                  air      1.00  0.12
2               4l/min      1.03  0.13
3               1l/min      0.92  0.08
4             0.5l/min      1.48  0.19

********************
Air :  Mean :  1.0 SD :  0.12 N :  3
4l/min Mean :  1.03 SD :  0.13 N :  3
P-Value :  0.783593129147
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
1l/min Mean :  0.92 SD :  0.08 N :  3
P-Value :  0.391075887964
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
0.5l/min Mean :  1.48 SD :  0.19 N :  3
P-Value :  0.0208425064622
********************
Result :  ********************

                   two  Average2   SD2   p_vales
0  Normalized to GAPDH  GPX3-PT7    SD  p-values
1                  air      1.00  0.12        NA
2               4l/min      1.03  0.13    0.7836
3               1l/min      0.92  0.08    0.3911
4             0.5l/min      1.48  0.19    0.0208

Data :

                   two      Average2   SD2
0  Normalized to GAPDH  HS 3 UTR-PT7    SD
1                  air          1.01  0.09
2               4l/min          1.06  0.42
3               1l/min          0.91  0.14
4             0.5l/min          1.09  0.09

********************
Air :  Mean :  1.01 SD :  0.09 N :  3
4l/min Mean :  1.06 SD :  0.42 N :  3
P-Value :  0.850052498809
********************
Air :  Mean :  1.01 SD :  0.09 N :  3
1l/min Mean :  0.91 SD :  0.14 N :  3
P-Value :  0.356785763579
********************
Air :  Mean :  1.01 SD :  0.09 N :  3
0.5l/min Mean :  1.09 SD :  0.09 N :  3
P-Value :  0.33750185654
********************
Result :  ********************

                   two      Average2   SD2   p_vales
0  Normalized to GAPDH  HS 3 UTR-PT7    SD  p-values
1                  air          1.01  0.09        NA
2               4l/min          1.06  0.42    0.8501
3               1l/min          0.91  0.14    0.3568
4             0.5l/min          1.09  0.09    0.3375

Data :

                   two      Average2   SD2
0  Normalized to GAPDH  HS 5 UTR-PT7    SD
1                  air          1.00  0.10
2               4l/min          1.04  0.31
3               1l/min          0.93  0.14
4             0.5l/min          1.09  0.07

********************
Air :  Mean :  1.0 SD :  0.1 N :  3
4l/min Mean :  1.04 SD :  0.31 N :  3
P-Value :  0.841962553349
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
1l/min Mean :  0.93 SD :  0.14 N :  3
P-Value :  0.519856705112
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
0.5l/min Mean :  1.09 SD :  0.07 N :  3
P-Value :  0.270675739642
********************
Result :  ********************

                   two      Average2   SD2   p_vales
0  Normalized to GAPDH  HS 5 UTR-PT7    SD  p-values
1                  air          1.00  0.10        NA
2               4l/min          1.04  0.31     0.842
3               1l/min          0.93  0.14    0.5199
4             0.5l/min          1.09  0.07    0.2707

Data :

                   two  Average2   SD2
0  Normalized to GAPDH  ORF1-PT7    SD
1                  air      1.00  0.05
2               4l/min      1.10  0.46
3               1l/min      0.91  0.12
4             0.5l/min      1.00  0.11

********************
Air :  Mean :  1.0 SD :  0.05 N :  3
4l/min Mean :  1.1 SD :  0.46 N :  3
P-Value :  0.727158998985
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
1l/min Mean :  0.91 SD :  0.12 N :  3
P-Value :  0.29666027481
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
0.5l/min Mean :  1.0 SD :  0.11 N :  3
P-Value :  1.0
********************
Result :  ********************

                   two  Average2   SD2   p_vales
0  Normalized to GAPDH  ORF1-PT7    SD  p-values
1                  air      1.00  0.05        NA
2               4l/min      1.10  0.46    0.7272
3               1l/min      0.91  0.12    0.2967
4             0.5l/min      1.00  0.11         1

Data :

                   two  Average2   SD2
0  Normalized to GAPDH  ORF2-PT7    SD
1                  air      1.01  0.11
2               4l/min      1.07  0.42
3               1l/min      1.00  0.15
4             0.5l/min      1.19  0.17

********************
Air :  Mean :  1.01 SD :  0.11 N :  3
4l/min Mean :  1.07 SD :  0.42 N :  3
P-Value :  0.822589182333
********************
Air :  Mean :  1.01 SD :  0.11 N :  3
1l/min Mean :  1.0 SD :  0.15 N :  3
P-Value :  0.930289142478
********************
Air :  Mean :  1.01 SD :  0.11 N :  3
0.5l/min Mean :  1.19 SD :  0.17 N :  3
P-Value :  0.198468392885
********************
Result :  ********************

                   two  Average2   SD2   p_vales
0  Normalized to GAPDH  ORF2-PT7    SD  p-values
1                  air      1.01  0.11        NA
2               4l/min      1.07  0.42    0.8226
3               1l/min      1.00  0.15    0.9303
4             0.5l/min      1.19  0.17    0.1985

Data :

                   two    Average2   SD2
0  Normalized to GAPDH  CYP1A1-PT7    SD
1                  air        1.04  0.32
2               4l/min        0.90  0.16
3               1l/min        2.20  1.10
4             0.5l/min        6.10  2.03

********************
Air :  Mean :  1.04 SD :  0.32 N :  3
4l/min Mean :  0.9 SD :  0.16 N :  3
P-Value :  0.535096105451
********************
Air :  Mean :  1.04 SD :  0.32 N :  3
1l/min Mean :  2.2 SD :  1.1 N :  3
P-Value :  0.154325853327
********************
Air :  Mean :  1.04 SD :  0.32 N :  3
0.5l/min Mean :  6.1 SD :  2.03 N :  3
P-Value :  0.0130051861855
********************
Result :  ********************

                   two    Average2   SD2   p_vales
0  Normalized to GAPDH  CYP1A1-PT7    SD  p-values
1                  air        1.04  0.32        NA
2               4l/min        0.90  0.16    0.5351
3               1l/min        2.20  1.10    0.1543
4             0.5l/min        6.10  2.03     0.013

Data :

                   two    Average2   SD2
0  Normalized to GAPDH  DNMT3B-PT7    SD
1                  air        1.00  0.14
2               4l/min        1.01  0.22
3               1l/min        0.90  0.10
4             0.5l/min        1.06  0.07

********************
Air :  Mean :  1.0 SD :  0.14 N :  3
4l/min Mean :  1.01 SD :  0.22 N :  3
P-Value :  0.950229896341
********************
Air :  Mean :  1.0 SD :  0.14 N :  3
1l/min Mean :  0.9 SD :  0.1 N :  3
P-Value :  0.371019581532
********************
Air :  Mean :  1.0 SD :  0.14 N :  3
0.5l/min Mean :  1.06 SD :  0.07 N :  3
P-Value :  0.543042790594
********************
Result :  ********************

                   two    Average2   SD2   p_vales
0  Normalized to GAPDH  DNMT3B-PT7    SD  p-values
1                  air        1.00  0.14        NA
2               4l/min        1.01  0.22    0.9502
3               1l/min        0.90  0.10     0.371
4             0.5l/min        1.06  0.07     0.543

Data :

                   two    Average2   SD2
0  Normalized to GAPDH  DNMT3A-PT7    SD
1                  air        1.00  0.07
2               4l/min        1.05  0.24
3               1l/min        0.96  0.09
4             0.5l/min        1.34  0.10

********************
Air :  Mean :  1.0 SD :  0.07 N :  3
4l/min Mean :  1.05 SD :  0.24 N :  3
P-Value :  0.746489342805
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
1l/min Mean :  0.96 SD :  0.09 N :  3
P-Value :  0.576231713926
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
0.5l/min Mean :  1.34 SD :  0.1 N :  3
P-Value :  0.00849557507772
********************
Result :  ********************

                   two    Average2   SD2   p_vales
0  Normalized to GAPDH  DNMT3A-PT7    SD  p-values
1                  air        1.00  0.07        NA
2               4l/min        1.05  0.24    0.7465
3               1l/min        0.96  0.09    0.5762
4             0.5l/min        1.34  0.10    0.0085

Data :

                   two   Average2   SD2
0  Normalized to GAPDH  DNMT1-PT7    SD
1                  air       1.01  0.10
2               4l/min       0.95  0.18
3               1l/min       0.81  0.09
4             0.5l/min       1.06  0.16

********************
Air :  Mean :  1.01 SD :  0.1 N :  3
4l/min Mean :  0.95 SD :  0.18 N :  3
P-Value :  0.640308149913
********************
Air :  Mean :  1.01 SD :  0.1 N :  3
1l/min Mean :  0.81 SD :  0.09 N :  3
P-Value :  0.0616621227945
********************
Air :  Mean :  1.01 SD :  0.1 N :  3
0.5l/min Mean :  1.06 SD :  0.16 N :  3
P-Value :  0.670073708819
********************
Result :  ********************

                   two   Average2   SD2   p_vales
0  Normalized to GAPDH  DNMT1-PT7    SD  p-values
1                  air       1.01  0.10        NA
2               4l/min       0.95  0.18    0.6403
3               1l/min       0.81  0.09    0.0617
4             0.5l/min       1.06  0.16    0.6701

Data :

                   two  Average2   SD2
0  Normalized to GAPDH  TET1-PT7    SD
1                  air      1.00  0.12
2               4l/min      0.97  0.23
3               1l/min      0.90  0.04
4             0.5l/min      1.14  0.19

********************
Air :  Mean :  1.0 SD :  0.12 N :  3
4l/min Mean :  0.97 SD :  0.23 N :  3
P-Value :  0.851019776788
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
1l/min Mean :  0.9 SD :  0.04 N :  3
P-Value :  0.242749808073
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
0.5l/min Mean :  1.14 SD :  0.19 N :  3
P-Value :  0.341287590851
********************
Result :  ********************

                   two  Average2   SD2   p_vales
0  Normalized to GAPDH  TET1-PT7    SD  p-values
1                  air      1.00  0.12        NA
2               4l/min      0.97  0.23     0.851
3               1l/min      0.90  0.04    0.2427
4             0.5l/min      1.14  0.19    0.3413

Data :

                   two  Average2   SD2
0  Normalized to GAPDH  TET2-PT7    SD
1                  air      1.01  0.08
2               4l/min      1.00  0.26
3               1l/min      0.89  0.01
4             0.5l/min      1.34  0.10

********************
Air :  Mean :  1.01 SD :  0.08 N :  3
4l/min Mean :  1.0 SD :  0.26 N :  3
P-Value :  0.952286699052
********************
Air :  Mean :  1.01 SD :  0.08 N :  3
1l/min Mean :  0.89 SD :  0.01 N :  3
P-Value :  0.0614561910107
********************
Air :  Mean :  1.01 SD :  0.08 N :  3
0.5l/min Mean :  1.34 SD :  0.1 N :  3
P-Value :  0.0111322578357
********************
Result :  ********************

                   two  Average2   SD2   p_vales
0  Normalized to GAPDH  TET2-PT7    SD  p-values
1                  air      1.01  0.08        NA
2               4l/min      1.00  0.26    0.9523
3               1l/min      0.89  0.01    0.0615
4             0.5l/min      1.34  0.10    0.0111

Data :

                   two  Average2   SD2
0  Normalized to GAPDH  TET3-PT7    SD
1                  air      1.00  0.12
2               4l/min      1.04  0.16
3               1l/min      0.98  0.09
4             0.5l/min      1.31  0.08

********************
Air :  Mean :  1.0 SD :  0.12 N :  3
4l/min Mean :  1.04 SD :  0.16 N :  3
P-Value :  0.746489342805
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
1l/min Mean :  0.98 SD :  0.09 N :  3
P-Value :  0.828692856616
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
0.5l/min Mean :  1.31 SD :  0.08 N :  3
P-Value :  0.0204213997236
********************
Result :  ********************

                   two  Average2   SD2   p_vales
0  Normalized to GAPDH  TET3-PT7    SD  p-values
1                  air      1.00  0.12        NA
2               4l/min      1.04  0.16    0.7465
3               1l/min      0.98  0.09    0.8287
4             0.5l/min      1.31  0.08    0.0204

In [14]:
get_experiment(df,columns3,result_path,"df-part-3")

Data :

                    three  Average3   SD3
0  Normalized to B actin   AHRR-PT2    SD
1                     air      1.00  0.08
2                  4l/min      0.83  0.10
3                  1l/min      1.65  0.07
4                0.5l/min      2.57  0.43

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  0.83 SD :  0.1 N :  3
P-Value :  0.0830068056308
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  1.65 SD :  0.07 N :  3
P-Value :  0.000449812095647
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  2.57 SD :  0.43 N :  3
P-Value :  0.00340658666911
********************
Result :  ********************

                    three  Average3   SD3   p_vales
0  Normalized to B actin   AHRR-PT2    SD  p-values
1                     air      1.00  0.08        NA
2                  4l/min      0.83  0.10     0.083
3                  1l/min      1.65  0.07    0.0004
4                0.5l/min      2.57  0.43    0.0034

Data :

                    three    Average3   SD3
0  Normalized to B actin   ALU RT-PT2    SD
1                     air        1.01  0.15
2                  4l/min        0.58  0.08
3                  1l/min        0.85  0.29
4                0.5l/min        0.56  0.07

********************
Air :  Mean :  1.01 SD :  0.15 N :  3
4l/min Mean :  0.58 SD :  0.08 N :  3
P-Value :  0.0118649942907
********************
Air :  Mean :  1.01 SD :  0.15 N :  3
1l/min Mean :  0.85 SD :  0.29 N :  3
P-Value :  0.44380735883
********************
Air :  Mean :  1.01 SD :  0.15 N :  3
0.5l/min Mean :  0.56 SD :  0.07 N :  3
P-Value :  0.0092488198754
********************
Result :  ********************

                    three    Average3   SD3   p_vales
0  Normalized to B actin   ALU RT-PT2    SD  p-values
1                     air        1.01  0.15        NA
2                  4l/min        0.58  0.08    0.0119
3                  1l/min        0.85  0.29    0.4438
4                0.5l/min        0.56  0.07    0.0092

Data :

                    three  Average3   SD3
0  Normalized to B actin   GPX3-PT2    SD
1                     air      1.00  0.07
2                  4l/min      0.93  0.08
3                  1l/min      1.11  0.09
4                0.5l/min      1.63  0.06

********************
Air :  Mean :  1.0 SD :  0.07 N :  3
4l/min Mean :  0.93 SD :  0.08 N :  3
P-Value :  0.317704695769
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
1l/min Mean :  1.11 SD :  0.09 N :  3
P-Value :  0.170037466838
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
0.5l/min Mean :  1.63 SD :  0.06 N :  3
P-Value :  0.000291738325598
********************
Result :  ********************

                    three  Average3   SD3   p_vales
0  Normalized to B actin   GPX3-PT2    SD  p-values
1                     air      1.00  0.07        NA
2                  4l/min      0.93  0.08    0.3177
3                  1l/min      1.11  0.09      0.17
4                0.5l/min      1.63  0.06    0.0003

Data :

                    three      Average3   SD3
0  Normalized to B actin   HS 3 UTR-PT2    SD
1                     air          1.00  0.12
2                  4l/min          0.72  0.11
3                  1l/min          0.87  0.16
4                0.5l/min          0.67  0.08

********************
Air :  Mean :  1.0 SD :  0.12 N :  3
4l/min Mean :  0.72 SD :  0.11 N :  3
P-Value :  0.0407722263711
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
1l/min Mean :  0.87 SD :  0.16 N :  3
P-Value :  0.323212688298
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
0.5l/min Mean :  0.67 SD :  0.08 N :  3
P-Value :  0.01663342038
********************
Result :  ********************

                    three      Average3   SD3   p_vales
0  Normalized to B actin   HS 3 UTR-PT2    SD  p-values
1                     air          1.00  0.12        NA
2                  4l/min          0.72  0.11    0.0408
3                  1l/min          0.87  0.16    0.3232
4                0.5l/min          0.67  0.08    0.0166

Data :

                    three      Average3   SD3
0  Normalized to B actin   HS 5 UTR-PT2    SD
1                     air          1.01  0.15
2                  4l/min          0.77  0.11
3                  1l/min          0.95  0.16
4                0.5l/min          0.73  0.14

********************
Air :  Mean :  1.01 SD :  0.15 N :  3
4l/min Mean :  0.77 SD :  0.11 N :  3
P-Value :  0.0891371387936
********************
Air :  Mean :  1.01 SD :  0.15 N :  3
1l/min Mean :  0.95 SD :  0.16 N :  3
P-Value :  0.660313632122
********************
Air :  Mean :  1.01 SD :  0.15 N :  3
0.5l/min Mean :  0.73 SD :  0.14 N :  3
P-Value :  0.0773569422374
********************
Result :  ********************

                    three      Average3   SD3   p_vales
0  Normalized to B actin   HS 5 UTR-PT2    SD  p-values
1                     air          1.01  0.15        NA
2                  4l/min          0.77  0.11    0.0891
3                  1l/min          0.95  0.16    0.6603
4                0.5l/min          0.73  0.14    0.0774

Data :

                    three  Average3   SD3
0  Normalized to B actin   ORF1-PT2    SD
1                     air      1.01  0.10
2                  4l/min      0.85  0.08
3                  1l/min      0.89  0.12
4                0.5l/min      0.71  0.14

********************
Air :  Mean :  1.01 SD :  0.1 N :  3
4l/min Mean :  0.85 SD :  0.08 N :  3
P-Value :  0.0964551228879
********************
Air :  Mean :  1.01 SD :  0.1 N :  3
1l/min Mean :  0.89 SD :  0.12 N :  3
P-Value :  0.254107527674
********************
Air :  Mean :  1.01 SD :  0.1 N :  3
0.5l/min Mean :  0.71 SD :  0.14 N :  3
P-Value :  0.0391554567334
********************
Result :  ********************

                    three  Average3   SD3   p_vales
0  Normalized to B actin   ORF1-PT2    SD  p-values
1                     air      1.01  0.10        NA
2                  4l/min      0.85  0.08    0.0965
3                  1l/min      0.89  0.12    0.2541
4                0.5l/min      0.71  0.14    0.0392

Data :

                    three  Average3   SD3
0  Normalized to B actin   ORF2-PT2    SD
1                     air      1.01  0.15
2                  4l/min      0.89  0.18
3                  1l/min      0.93  0.14
4                0.5l/min      0.77  0.10

********************
Air :  Mean :  1.01 SD :  0.15 N :  3
4l/min Mean :  0.89 SD :  0.18 N :  3
P-Value :  0.42516039454
********************
Air :  Mean :  1.01 SD :  0.15 N :  3
1l/min Mean :  0.93 SD :  0.14 N :  3
P-Value :  0.536498850355
********************
Air :  Mean :  1.01 SD :  0.15 N :  3
0.5l/min Mean :  0.77 SD :  0.1 N :  3
P-Value :  0.0824076424959
********************
Result :  ********************

                    three  Average3   SD3   p_vales
0  Normalized to B actin   ORF2-PT2    SD  p-values
1                     air      1.01  0.15        NA
2                  4l/min      0.89  0.18    0.4252
3                  1l/min      0.93  0.14    0.5365
4                0.5l/min      0.77  0.10    0.0824

Data :

                    three    Average3     SD3
0  Normalized to B actin   CYP1A1-PT2      SD
1                     air        1.09    0.48
2                  4l/min        2.17    1.26
3                  1l/min      309.53   59.83
4                0.5l/min     1496.78  290.57

********************
Air :  Mean :  1.09 SD :  0.48 N :  3
4l/min Mean :  2.17 SD :  1.26 N :  3
P-Value :  0.237626427852
********************
Air :  Mean :  1.09 SD :  0.48 N :  3
1l/min Mean :  309.53 SD :  59.83 N :  3
P-Value :  0.000869936301796
********************
Air :  Mean :  1.09 SD :  0.48 N :  3
0.5l/min Mean :  1496.78 SD :  290.57 N :  3
P-Value :  0.000874931289771
********************
Result :  ********************

                    three    Average3     SD3   p_vales
0  Normalized to B actin   CYP1A1-PT2      SD  p-values
1                     air        1.09    0.48        NA
2                  4l/min        2.17    1.26    0.2376
3                  1l/min      309.53   59.83    0.0009
4                0.5l/min     1496.78  290.57    0.0009

Data :

                    three    Average3   SD3
0  Normalized to B actin   DNMT3B-PT2    SD
1                     air        1.00  0.08
2                  4l/min        0.81  0.07
3                  1l/min        0.99  0.10
4                0.5l/min        0.92  0.10

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  0.81 SD :  0.07 N :  3
P-Value :  0.0363684413846
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  0.99 SD :  0.1 N :  3
P-Value :  0.898946895985
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  0.92 SD :  0.1 N :  3
P-Value :  0.340121227733
********************
Result :  ********************

                    three    Average3   SD3   p_vales
0  Normalized to B actin   DNMT3B-PT2    SD  p-values
1                     air        1.00  0.08        NA
2                  4l/min        0.81  0.07    0.0364
3                  1l/min        0.99  0.10    0.8989
4                0.5l/min        0.92  0.10    0.3401

Data :

                    three    Average3   SD3
0  Normalized to B actin   DNMT3A-PT2    SD
1                     air        1.00  0.05
2                  4l/min        0.89  0.06
3                  1l/min        0.97  0.06
4                0.5l/min        0.94  0.12

********************
Air :  Mean :  1.0 SD :  0.05 N :  3
4l/min Mean :  0.89 SD :  0.06 N :  3
P-Value :  0.0712521867374
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
1l/min Mean :  0.97 SD :  0.06 N :  3
P-Value :  0.54225828109
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
0.5l/min Mean :  0.94 SD :  0.12 N :  3
P-Value :  0.468833544253
********************
Result :  ********************

                    three    Average3   SD3   p_vales
0  Normalized to B actin   DNMT3A-PT2    SD  p-values
1                     air        1.00  0.05        NA
2                  4l/min        0.89  0.06    0.0713
3                  1l/min        0.97  0.06    0.5423
4                0.5l/min        0.94  0.12    0.4688

Data :

                    three   Average3   SD3
0  Normalized to B actin   DNMT1-PT2    SD
1                     air       1.00  0.08
2                  4l/min       0.81  0.10
3                  1l/min       0.78  0.09
4                0.5l/min       0.72  0.05

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  0.81 SD :  0.1 N :  3
P-Value :  0.0619946143386
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  0.78 SD :  0.09 N :  3
P-Value :  0.0340381642907
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  0.72 SD :  0.05 N :  3
P-Value :  0.00678791452689
********************
Result :  ********************

                    three   Average3   SD3   p_vales
0  Normalized to B actin   DNMT1-PT2    SD  p-values
1                     air       1.00  0.08        NA
2                  4l/min       0.81  0.10     0.062
3                  1l/min       0.78  0.09     0.034
4                0.5l/min       0.72  0.05    0.0068

Data :

                    three  Average3   SD3
0  Normalized to B actin   TET1-PT2    SD
1                     air      1.01  0.18
2                  4l/min      0.79  0.06
3                  1l/min      0.72  0.04
4                0.5l/min      0.47  0.06

********************
Air :  Mean :  1.01 SD :  0.18 N :  3
4l/min Mean :  0.79 SD :  0.06 N :  3
P-Value :  0.115019672194
********************
Air :  Mean :  1.01 SD :  0.18 N :  3
1l/min Mean :  0.72 SD :  0.04 N :  3
P-Value :  0.052764407815
********************
Air :  Mean :  1.01 SD :  0.18 N :  3
0.5l/min Mean :  0.47 SD :  0.06 N :  3
P-Value :  0.00787564261316
********************
Result :  ********************

                    three  Average3   SD3   p_vales
0  Normalized to B actin   TET1-PT2    SD  p-values
1                     air      1.01  0.18        NA
2                  4l/min      0.79  0.06     0.115
3                  1l/min      0.72  0.04    0.0528
4                0.5l/min      0.47  0.06    0.0079

Data :

                    three  Average3   SD3
0  Normalized to B actin   TET2-PT2    SD
1                     air      1.00  0.11
2                  4l/min      0.87  0.06
3                  1l/min      0.92  0.02
4                0.5l/min      0.85  0.06

********************
Air :  Mean :  1.0 SD :  0.11 N :  3
4l/min Mean :  0.87 SD :  0.06 N :  3
P-Value :  0.146745528584
********************
Air :  Mean :  1.0 SD :  0.11 N :  3
1l/min Mean :  0.92 SD :  0.02 N :  3
P-Value :  0.282961664179
********************
Air :  Mean :  1.0 SD :  0.11 N :  3
0.5l/min Mean :  0.85 SD :  0.06 N :  3
P-Value :  0.106807057733
********************
Result :  ********************

                    three  Average3   SD3   p_vales
0  Normalized to B actin   TET2-PT2    SD  p-values
1                     air      1.00  0.11        NA
2                  4l/min      0.87  0.06    0.1467
3                  1l/min      0.92  0.02     0.283
4                0.5l/min      0.85  0.06    0.1068

Data :

                    three  Average3   SD3
0  Normalized to B actin   TET3-PT2    SD
1                     air      1.00  0.11
2                  4l/min      0.98  0.13
3                  1l/min      0.94  0.08
4                0.5l/min      0.98  0.09

********************
Air :  Mean :  1.0 SD :  0.11 N :  3
4l/min Mean :  0.98 SD :  0.13 N :  3
P-Value :  0.848736791781
********************
Air :  Mean :  1.0 SD :  0.11 N :  3
1l/min Mean :  0.94 SD :  0.08 N :  3
P-Value :  0.487415596542
********************
Air :  Mean :  1.0 SD :  0.11 N :  3
0.5l/min Mean :  0.98 SD :  0.09 N :  3
P-Value :  0.819427644931
********************
Result :  ********************

                    three  Average3   SD3   p_vales
0  Normalized to B actin   TET3-PT2    SD  p-values
1                     air      1.00  0.11        NA
2                  4l/min      0.98  0.13    0.8487
3                  1l/min      0.94  0.08    0.4874
4                0.5l/min      0.98  0.09    0.8194

In [15]:
get_experiment(df,columns4,result_path,"df-part-4")

Data :

                  four  Average4   SD4
0  Normalized to GAPDH  AHRR-PT2    SD
1                  air      1.00  0.11
2               4l/min      0.96  0.09
3               1l/min      1.63  0.20
4             0.5l/min      2.65  0.61

********************
Air :  Mean :  1.0 SD :  0.11 N :  3
4l/min Mean :  0.96 SD :  0.09 N :  3
P-Value :  0.651437616413
********************
Air :  Mean :  1.0 SD :  0.11 N :  3
1l/min Mean :  1.63 SD :  0.2 N :  3
P-Value :  0.00877168505499
********************
Air :  Mean :  1.0 SD :  0.11 N :  3
0.5l/min Mean :  2.65 SD :  0.61 N :  3
P-Value :  0.00995048884443
********************
Result :  ********************

                  four  Average4   SD4   p_vales
0  Normalized to GAPDH  AHRR-PT2    SD  p-values
1                  air      1.00  0.11        NA
2               4l/min      0.96  0.09    0.6514
3               1l/min      1.63  0.20    0.0088
4             0.5l/min      2.65  0.61      0.01

Data :

                  four    Average4   SD4
0  Normalized to GAPDH  ALU RT-PT2    SD
1                  air        1.01  0.16
2               4l/min        0.66  0.10
3               1l/min        0.85  0.37
4             0.5l/min        0.57  0.11

********************
Air :  Mean :  1.01 SD :  0.16 N :  3
4l/min Mean :  0.66 SD :  0.1 N :  3
P-Value :  0.0324976485909
********************
Air :  Mean :  1.01 SD :  0.16 N :  3
1l/min Mean :  0.85 SD :  0.37 N :  3
P-Value :  0.529573911435
********************
Air :  Mean :  1.01 SD :  0.16 N :  3
0.5l/min Mean :  0.57 SD :  0.11 N :  3
P-Value :  0.0171747775047
********************
Result :  ********************

                  four    Average4   SD4   p_vales
0  Normalized to GAPDH  ALU RT-PT2    SD  p-values
1                  air        1.01  0.16        NA
2               4l/min        0.66  0.10    0.0325
3               1l/min        0.85  0.37    0.5296
4             0.5l/min        0.57  0.11    0.0172

Data :

                  four  Average4   SD4
0  Normalized to GAPDH  GPX3-PT2    SD
1                  air      1.01  0.09
2               4l/min      1.08  0.23
3               1l/min      1.10  0.16
4             0.5l/min      1.67  0.08

********************
Air :  Mean :  1.01 SD :  0.09 N :  3
4l/min Mean :  1.08 SD :  0.23 N :  3
P-Value :  0.649210244972
********************
Air :  Mean :  1.01 SD :  0.09 N :  3
1l/min Mean :  1.1 SD :  0.16 N :  3
P-Value :  0.443626964709
********************
Air :  Mean :  1.01 SD :  0.09 N :  3
0.5l/min Mean :  1.67 SD :  0.08 N :  3
P-Value :  0.000687080090546
********************
Result :  ********************

                  four  Average4   SD4   p_vales
0  Normalized to GAPDH  GPX3-PT2    SD  p-values
1                  air      1.01  0.09        NA
2               4l/min      1.08  0.23    0.6492
3               1l/min      1.10  0.16    0.4436
4             0.5l/min      1.67  0.08    0.0007

Data :

                  four      Average4   SD4
0  Normalized to GAPDH  HS 3 UTR-PT2    SD
1                  air          1.00  0.14
2               4l/min          0.83  0.11
3               1l/min          0.87  0.23
4             0.5l/min          0.69  0.13

********************
Air :  Mean :  1.0 SD :  0.14 N :  3
4l/min Mean :  0.83 SD :  0.11 N :  3
P-Value :  0.17351364971
********************
Air :  Mean :  1.0 SD :  0.14 N :  3
1l/min Mean :  0.87 SD :  0.23 N :  3
P-Value :  0.450061806404
********************
Air :  Mean :  1.0 SD :  0.14 N :  3
0.5l/min Mean :  0.69 SD :  0.13 N :  3
P-Value :  0.048294806095
********************
Result :  ********************

                  four      Average4   SD4   p_vales
0  Normalized to GAPDH  HS 3 UTR-PT2    SD  p-values
1                  air          1.00  0.14        NA
2               4l/min          0.83  0.11    0.1735
3               1l/min          0.87  0.23    0.4501
4             0.5l/min          0.69  0.13    0.0483

Data :

                  four      Average4   SD4
0  Normalized to GAPDH  HS 5 UTR-PT2    SD
1                  air          1.01  0.17
2               4l/min          0.87  0.09
3               1l/min          0.93  0.19
4             0.5l/min          0.75  0.19

********************
Air :  Mean :  1.01 SD :  0.17 N :  3
4l/min Mean :  0.87 SD :  0.09 N :  3
P-Value :  0.275964326013
********************
Air :  Mean :  1.01 SD :  0.17 N :  3
1l/min Mean :  0.93 SD :  0.19 N :  3
P-Value :  0.615662183529
********************
Air :  Mean :  1.01 SD :  0.17 N :  3
0.5l/min Mean :  0.75 SD :  0.19 N :  3
P-Value :  0.152085338382
********************
Result :  ********************

                  four      Average4   SD4   p_vales
0  Normalized to GAPDH  HS 5 UTR-PT2    SD  p-values
1                  air          1.01  0.17        NA
2               4l/min          0.87  0.09     0.276
3               1l/min          0.93  0.19    0.6157
4             0.5l/min          0.75  0.19    0.1521

Data :

                  four  Average4   SD4
0  Normalized to GAPDH  ORF1-PT2    SD
1                  air      1.01  0.13
2               4l/min      0.98  0.05
3               1l/min      0.88  0.17
4             0.5l/min      0.73  0.20

********************
Air :  Mean :  1.01 SD :  0.13 N :  3
4l/min Mean :  0.98 SD :  0.05 N :  3
P-Value :  0.728030423097
********************
Air :  Mean :  1.01 SD :  0.13 N :  3
1l/min Mean :  0.88 SD :  0.17 N :  3
P-Value :  0.352097523664
********************
Air :  Mean :  1.01 SD :  0.13 N :  3
0.5l/min Mean :  0.73 SD :  0.2 N :  3
P-Value :  0.111815333431
********************
Result :  ********************

                  four  Average4   SD4   p_vales
0  Normalized to GAPDH  ORF1-PT2    SD  p-values
1                  air      1.01  0.13        NA
2               4l/min      0.98  0.05     0.728
3               1l/min      0.88  0.17    0.3521
4             0.5l/min      0.73  0.20    0.1118

Data :

                  four  Average4   SD4
0  Normalized to GAPDH  ORF2-PT2    SD
1                  air      1.01  0.18
2               4l/min      1.01  0.14
3               1l/min      0.92  0.19
4             0.5l/min      0.79  0.15

********************
Air :  Mean :  1.01 SD :  0.18 N :  3
4l/min Mean :  1.01 SD :  0.14 N :  3
P-Value :  1.0
********************
Air :  Mean :  1.01 SD :  0.18 N :  3
1l/min Mean :  0.92 SD :  0.19 N :  3
P-Value :  0.583502955546
********************
Air :  Mean :  1.01 SD :  0.18 N :  3
0.5l/min Mean :  0.79 SD :  0.15 N :  3
P-Value :  0.179216159372
********************
Result :  ********************

                  four  Average4   SD4   p_vales
0  Normalized to GAPDH  ORF2-PT2    SD  p-values
1                  air      1.01  0.18        NA
2               4l/min      1.01  0.14         1
3               1l/min      0.92  0.19    0.5835
4             0.5l/min      0.79  0.15    0.1792

Data :

                  four    Average4     SD4
0  Normalized to GAPDH  CYP1A1-PT2      SD
1                  air        1.08    0.46
2               4l/min        2.44    1.26
3               1l/min      302.14   39.75
4             0.5l/min     1543.41  369.64

********************
Air :  Mean :  1.08 SD :  0.46 N :  3
4l/min Mean :  2.44 SD :  1.26 N :  3
P-Value :  0.153908246354
********************
Air :  Mean :  1.08 SD :  0.46 N :  3
1l/min Mean :  302.14 SD :  39.75 N :  3
P-Value :  0.000195038039063
********************
Air :  Mean :  1.08 SD :  0.46 N :  3
0.5l/min Mean :  1543.41 SD :  369.64 N :  3
P-Value :  0.0019445565233
********************
Result :  ********************

                  four    Average4     SD4   p_vales
0  Normalized to GAPDH  CYP1A1-PT2      SD  p-values
1                  air        1.08    0.46        NA
2               4l/min        2.44    1.26    0.1539
3               1l/min      302.14   39.75    0.0002
4             0.5l/min     1543.41  369.64    0.0019

Data :

                  four    Average4   SD4
0  Normalized to GAPDH  DNMT3B-PT2    SD
1                  air        1.00  0.10
2               4l/min        0.93  0.07
3               1l/min        0.98  0.18
4             0.5l/min        0.94  0.15

********************
Air :  Mean :  1.0 SD :  0.1 N :  3
4l/min Mean :  0.93 SD :  0.07 N :  3
P-Value :  0.376801820144
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
1l/min Mean :  0.98 SD :  0.18 N :  3
P-Value :  0.874564728842
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
0.5l/min Mean :  0.94 SD :  0.15 N :  3
P-Value :  0.595188104418
********************
Result :  ********************

                  four    Average4   SD4   p_vales
0  Normalized to GAPDH  DNMT3B-PT2    SD  p-values
1                  air        1.00  0.10        NA
2               4l/min        0.93  0.07    0.3768
3               1l/min        0.98  0.18    0.8746
4             0.5l/min        0.94  0.15    0.5952

Data :

                  four    Average4   SD4
0  Normalized to GAPDH  DNMT3A-PT2    SD
1                  air        1.00  0.07
2               4l/min        1.03  0.15
3               1l/min        0.95  0.06
4             0.5l/min        0.97  0.17

********************
Air :  Mean :  1.0 SD :  0.07 N :  3
4l/min Mean :  1.03 SD :  0.15 N :  3
P-Value :  0.769278164759
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
1l/min Mean :  0.95 SD :  0.06 N :  3
P-Value :  0.400741293241
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
0.5l/min Mean :  0.97 SD :  0.17 N :  3
P-Value :  0.791480195524
********************
Result :  ********************

                  four    Average4   SD4   p_vales
0  Normalized to GAPDH  DNMT3A-PT2    SD  p-values
1                  air        1.00  0.07        NA
2               4l/min        1.03  0.15    0.7693
3               1l/min        0.95  0.06    0.4007
4             0.5l/min        0.97  0.17    0.7915

Data :

                  four   Average4   SD4
0  Normalized to GAPDH  DNMT1-PT2    SD
1                  air       1.00  0.10
2               4l/min       0.94  0.23
3               1l/min       0.77  0.15
4             0.5l/min       0.74  0.03

********************
Air :  Mean :  1.0 SD :  0.1 N :  3
4l/min Mean :  0.94 SD :  0.23 N :  3
P-Value :  0.699861531097
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
1l/min Mean :  0.77 SD :  0.15 N :  3
P-Value :  0.0916497346967
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
0.5l/min Mean :  0.74 SD :  0.03 N :  3
P-Value :  0.0125123027673
********************
Result :  ********************

                  four   Average4   SD4   p_vales
0  Normalized to GAPDH  DNMT1-PT2    SD  p-values
1                  air       1.00  0.10        NA
2               4l/min       0.94  0.23    0.6999
3               1l/min       0.77  0.15    0.0916
4             0.5l/min       0.74  0.03    0.0125

Data :

                  four  Average4   SD4
0  Normalized to GAPDH  TET1-PT2    SD
1                  air      1.01  0.21
2               4l/min      0.91  0.18
3               1l/min      0.71  0.05
4             0.5l/min      0.49  0.09

********************
Air :  Mean :  1.01 SD :  0.21 N :  3
4l/min Mean :  0.91 SD :  0.18 N :  3
P-Value :  0.565128876514
********************
Air :  Mean :  1.01 SD :  0.21 N :  3
1l/min Mean :  0.71 SD :  0.05 N :  3
P-Value :  0.0737885350911
********************
Air :  Mean :  1.01 SD :  0.21 N :  3
0.5l/min Mean :  0.49 SD :  0.09 N :  3
P-Value :  0.0169297573549
********************
Result :  ********************

                  four  Average4   SD4   p_vales
0  Normalized to GAPDH  TET1-PT2    SD  p-values
1                  air      1.01  0.21        NA
2               4l/min      0.91  0.18    0.5651
3               1l/min      0.71  0.05    0.0738
4             0.5l/min      0.49  0.09    0.0169

Data :

                  four  Average4   SD4
0  Normalized to GAPDH  TET2-PT2    SD
1                  air      1.01  0.13
2               4l/min      1.01  0.18
3               1l/min      0.91  0.06
4             0.5l/min      0.87  0.11

********************
Air :  Mean :  1.01 SD :  0.13 N :  3
4l/min Mean :  1.01 SD :  0.18 N :  3
P-Value :  1.0
********************
Air :  Mean :  1.01 SD :  0.13 N :  3
1l/min Mean :  0.91 SD :  0.06 N :  3
P-Value :  0.292990866656
********************
Air :  Mean :  1.01 SD :  0.13 N :  3
0.5l/min Mean :  0.87 SD :  0.11 N :  3
P-Value :  0.22756935295
********************
Result :  ********************

                  four  Average4   SD4   p_vales
0  Normalized to GAPDH  TET2-PT2    SD  p-values
1                  air      1.01  0.13        NA
2               4l/min      1.01  0.18         1
3               1l/min      0.91  0.06     0.293
4             0.5l/min      0.87  0.11    0.2276

Data :

                  four  Average4   SD4
0  Normalized to GAPDH  TET3-PT2    SD
1                  air      1.00  0.14
2               4l/min      1.13  0.19
3               1l/min      0.93  0.06
4             0.5l/min      1.00  0.15

********************
Air :  Mean :  1.0 SD :  0.14 N :  3
4l/min Mean :  1.13 SD :  0.19 N :  3
P-Value :  0.394079153151
********************
Air :  Mean :  1.0 SD :  0.14 N :  3
1l/min Mean :  0.93 SD :  0.06 N :  3
P-Value :  0.470599202948
********************
Air :  Mean :  1.0 SD :  0.14 N :  3
0.5l/min Mean :  1.0 SD :  0.15 N :  3
P-Value :  1.0
********************
Result :  ********************

                  four  Average4   SD4   p_vales
0  Normalized to GAPDH  TET3-PT2    SD  p-values
1                  air      1.00  0.14        NA
2               4l/min      1.13  0.19    0.3941
3               1l/min      0.93  0.06    0.4706
4             0.5l/min      1.00  0.15         1

In [16]:
get_experiment(df,columns5,result_path,"df-part-5")

Data :

                     five Average5   SD5
0  Normalized to B actin   AHRR-T1    SD
1                     air     1.00  0.06
2                  4l/min     1.42  0.23
3                  1l/min     2.28  0.16
4                0.5l/min     4.18  0.37

********************
Air :  Mean :  1.0 SD :  0.06 N :  3
4l/min Mean :  1.42 SD :  0.23 N :  3
P-Value :  0.0376418528452
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
1l/min Mean :  2.28 SD :  0.16 N :  3
P-Value :  0.000203623161173
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
0.5l/min Mean :  4.18 SD :  0.37 N :  3
P-Value :  0.000124813508129
********************
Result :  ********************

                     five Average5   SD5   p_vales
0  Normalized to B actin   AHRR-T1    SD  p-values
1                     air     1.00  0.06        NA
2                  4l/min     1.42  0.23    0.0376
3                  1l/min     2.28  0.16    0.0002
4                0.5l/min     4.18  0.37    0.0001

Data :

                     five   Average5   SD5
0  Normalized to B actin   ALU RT-T1    SD
1                     air       1.00  0.10
2                  4l/min       0.80  0.13
3                  1l/min       0.68  0.12
4                0.5l/min       0.60  0.05

********************
Air :  Mean :  1.0 SD :  0.1 N :  3
4l/min Mean :  0.8 SD :  0.13 N :  3
P-Value :  0.10224810703
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
1l/min Mean :  0.68 SD :  0.12 N :  3
P-Value :  0.0238357559702
********************
Air :  Mean :  1.0 SD :  0.1 N :  3
0.5l/min Mean :  0.6 SD :  0.05 N :  3
P-Value :  0.00344838473909
********************
Result :  ********************

                     five   Average5   SD5   p_vales
0  Normalized to B actin   ALU RT-T1    SD  p-values
1                     air       1.00  0.10        NA
2                  4l/min       0.80  0.13    0.1022
3                  1l/min       0.68  0.12    0.0238
4                0.5l/min       0.60  0.05    0.0034

Data :

                     five Average5   SD5
0  Normalized to B actin   GPX3-T1    SD
1                     air     1.00  0.07
2                  4l/min     1.27  0.14
3                  1l/min     1.70  0.13
4                0.5l/min     2.26  0.48

********************
Air :  Mean :  1.0 SD :  0.07 N :  3
4l/min Mean :  1.27 SD :  0.14 N :  3
P-Value :  0.0404286851854
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
1l/min Mean :  1.7 SD :  0.13 N :  3
P-Value :  0.00119858157516
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
0.5l/min Mean :  2.26 SD :  0.48 N :  3
P-Value :  0.0108304796983
********************
Result :  ********************

                     five Average5   SD5   p_vales
0  Normalized to B actin   GPX3-T1    SD  p-values
1                     air     1.00  0.07        NA
2                  4l/min     1.27  0.14    0.0404
3                  1l/min     1.70  0.13    0.0012
4                0.5l/min     2.26  0.48    0.0108

Data :

                     five     Average5   SD5
0  Normalized to B actin   HS 3 UTR-T1    SD
1                     air         1.00  0.07
2                  4l/min         0.81  0.11
3                  1l/min         0.66  0.12
4                0.5l/min         0.57  0.03

********************
Air :  Mean :  1.0 SD :  0.07 N :  3
4l/min Mean :  0.81 SD :  0.11 N :  3
P-Value :  0.0650787467784
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
1l/min Mean :  0.66 SD :  0.12 N :  3
P-Value :  0.0132744179695
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
0.5l/min Mean :  0.57 SD :  0.03 N :  3
P-Value :  0.000612643734722
********************
Result :  ********************

                     five     Average5   SD5   p_vales
0  Normalized to B actin   HS 3 UTR-T1    SD  p-values
1                     air         1.00  0.07        NA
2                  4l/min         0.81  0.11    0.0651
3                  1l/min         0.66  0.12    0.0133
4                0.5l/min         0.57  0.03    0.0006

Data :

                     five     Average5   SD5
0  Normalized to B actin   HS 5 UTR-T1    SD
1                     air         1.00  0.13
2                  4l/min         0.83  0.12
3                  1l/min         0.70  0.14
4                0.5l/min         0.56  0.03

********************
Air :  Mean :  1.0 SD :  0.13 N :  3
4l/min Mean :  0.83 SD :  0.12 N :  3
P-Value :  0.171379902668
********************
Air :  Mean :  1.0 SD :  0.13 N :  3
1l/min Mean :  0.7 SD :  0.14 N :  3
P-Value :  0.0529983291323
********************
Air :  Mean :  1.0 SD :  0.13 N :  3
0.5l/min Mean :  0.56 SD :  0.03 N :  3
P-Value :  0.00464551369243
********************
Result :  ********************

                     five     Average5   SD5   p_vales
0  Normalized to B actin   HS 5 UTR-T1    SD  p-values
1                     air         1.00  0.13        NA
2                  4l/min         0.83  0.12    0.1714
3                  1l/min         0.70  0.14     0.053
4                0.5l/min         0.56  0.03    0.0046

Data :

                     five Average5   SD5
0  Normalized to B actin   ORF1-T1    SD
1                     air     1.00  0.09
2                  4l/min     0.84  0.10
3                  1l/min     0.71  0.14
4                0.5l/min     0.56  0.04

********************
Air :  Mean :  1.0 SD :  0.09 N :  3
4l/min Mean :  0.84 SD :  0.1 N :  3
P-Value :  0.108467652911
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
1l/min Mean :  0.71 SD :  0.14 N :  3
P-Value :  0.0392404408168
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
0.5l/min Mean :  0.56 SD :  0.04 N :  3
P-Value :  0.00150234702638
********************
Result :  ********************

                     five Average5   SD5   p_vales
0  Normalized to B actin   ORF1-T1    SD  p-values
1                     air     1.00  0.09        NA
2                  4l/min     0.84  0.10    0.1085
3                  1l/min     0.71  0.14    0.0392
4                0.5l/min     0.56  0.04    0.0015

Data :

                     five Average5   SD5
0  Normalized to B actin   ORF2-T1    SD
1                     air     1.00  0.09
2                  4l/min     0.82  0.16
3                  1l/min     0.70  0.14
4                0.5l/min     0.57  0.05

********************
Air :  Mean :  1.0 SD :  0.09 N :  3
4l/min Mean :  0.82 SD :  0.16 N :  3
P-Value :  0.164679862813
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
1l/min Mean :  0.7 SD :  0.14 N :  3
P-Value :  0.0354558002662
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
0.5l/min Mean :  0.57 SD :  0.05 N :  3
P-Value :  0.00193753578379
********************
Result :  ********************

                     five Average5   SD5   p_vales
0  Normalized to B actin   ORF2-T1    SD  p-values
1                     air     1.00  0.09        NA
2                  4l/min     0.82  0.16    0.1647
3                  1l/min     0.70  0.14    0.0355
4                0.5l/min     0.57  0.05    0.0019

Data :

                     five   Average5     SD5
0  Normalized to B actin   CYP1A1-T1      SD
1                     air       1.02    0.24
2                  4l/min      69.46    6.71
3                  1l/min     887.36  119.04
4                0.5l/min    5465.07  576.85

********************
Air :  Mean :  1.02 SD :  0.24 N :  3
4l/min Mean :  69.46 SD :  6.71 N :  3
P-Value :  6.0455707626e-05
********************
Air :  Mean :  1.02 SD :  0.24 N :  3
1l/min Mean :  887.36 SD :  119.04 N :  3
P-Value :  0.000208483491455
********************
Air :  Mean :  1.02 SD :  0.24 N :  3
0.5l/min Mean :  5465.07 SD :  576.85 N :  3
P-Value :  8.08018384602e-05
********************
Result :  ********************

                     five   Average5     SD5   p_vales
0  Normalized to B actin   CYP1A1-T1      SD  p-values
1                     air       1.02    0.24        NA
2                  4l/min      69.46    6.71    0.0001
3                  1l/min     887.36  119.04    0.0002
4                0.5l/min    5465.07  576.85    0.0001

Data :

                     five   Average5   SD5
0  Normalized to B actin   DNMT3B-T1    SD
1                     air       1.01  0.13
2                  4l/min       0.93  0.03
3                  1l/min       0.75  0.02
4                0.5l/min       0.86  0.13

********************
Air :  Mean :  1.01 SD :  0.13 N :  3
4l/min Mean :  0.93 SD :  0.03 N :  3
P-Value :  0.357654754737
********************
Air :  Mean :  1.01 SD :  0.13 N :  3
1l/min Mean :  0.75 SD :  0.02 N :  3
P-Value :  0.0266864492319
********************
Air :  Mean :  1.01 SD :  0.13 N :  3
0.5l/min Mean :  0.86 SD :  0.13 N :  3
P-Value :  0.230484611587
********************
Result :  ********************

                     five   Average5   SD5   p_vales
0  Normalized to B actin   DNMT3B-T1    SD  p-values
1                     air       1.01  0.13        NA
2                  4l/min       0.93  0.03    0.3577
3                  1l/min       0.75  0.02    0.0267
4                0.5l/min       0.86  0.13    0.2305

Data :

                     five   Average5   SD5
0  Normalized to B actin   DNMT3A-T1    SD
1                     air       1.00  0.04
2                  4l/min       0.95  0.09
3                  1l/min       0.83  0.05
4                0.5l/min       0.88  0.01

********************
Air :  Mean :  1.0 SD :  0.04 N :  3
4l/min Mean :  0.95 SD :  0.09 N :  3
P-Value :  0.428883753439
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
1l/min Mean :  0.83 SD :  0.05 N :  3
P-Value :  0.0100421241049
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
0.5l/min Mean :  0.88 SD :  0.01 N :  3
P-Value :  0.00727690870011
********************
Result :  ********************

                     five   Average5   SD5   p_vales
0  Normalized to B actin   DNMT3A-T1    SD  p-values
1                     air       1.00  0.04        NA
2                  4l/min       0.95  0.09    0.4289
3                  1l/min       0.83  0.05      0.01
4                0.5l/min       0.88  0.01    0.0073

Data :

                     five  Average5   SD5
0  Normalized to B actin   DNMT1-T1    SD
1                     air      1.00  0.04
2                  4l/min      0.93  0.06
3                  1l/min      0.85  0.02
4                0.5l/min      0.89  0.01

********************
Air :  Mean :  1.0 SD :  0.04 N :  3
4l/min Mean :  0.93 SD :  0.06 N :  3
P-Value :  0.167989468978
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
1l/min Mean :  0.85 SD :  0.02 N :  3
P-Value :  0.0043685935956
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
0.5l/min Mean :  0.89 SD :  0.01 N :  3
P-Value :  0.00987423882938
********************
Result :  ********************

                     five  Average5   SD5   p_vales
0  Normalized to B actin   DNMT1-T1    SD  p-values
1                     air      1.00  0.04        NA
2                  4l/min      0.93  0.06     0.168
3                  1l/min      0.85  0.02    0.0044
4                0.5l/min      0.89  0.01    0.0099

Data :

                     five Average5   SD5
0  Normalized to B actin   TET1-T1    SD
1                     air     1.01  0.15
2                  4l/min     0.69  0.02
3                  1l/min     0.45  0.11
4                0.5l/min     0.35  0.05

********************
Air :  Mean :  1.01 SD :  0.15 N :  3
4l/min Mean :  0.69 SD :  0.02 N :  3
P-Value :  0.021530394496
********************
Air :  Mean :  1.01 SD :  0.15 N :  3
1l/min Mean :  0.45 SD :  0.11 N :  3
P-Value :  0.00645181758968
********************
Air :  Mean :  1.01 SD :  0.15 N :  3
0.5l/min Mean :  0.35 SD :  0.05 N :  3
P-Value :  0.0019415952834
********************
Result :  ********************

                     five Average5   SD5   p_vales
0  Normalized to B actin   TET1-T1    SD  p-values
1                     air     1.01  0.15        NA
2                  4l/min     0.69  0.02    0.0215
3                  1l/min     0.45  0.11    0.0065
4                0.5l/min     0.35  0.05    0.0019

Data :

                     five Average5   SD5
0  Normalized to B actin   TET2-T1    SD
1                     air     1.00  0.01
2                  4l/min     0.89  0.16
3                  1l/min     0.78  0.01
4                0.5l/min     0.82  0.04

********************
Air :  Mean :  1.0 SD :  0.01 N :  3
4l/min Mean :  0.89 SD :  0.16 N :  3
P-Value :  0.300387440216
********************
Air :  Mean :  1.0 SD :  0.01 N :  3
1l/min Mean :  0.78 SD :  0.01 N :  3
P-Value :  1.12797763285e-05
********************
Air :  Mean :  1.0 SD :  0.01 N :  3
0.5l/min Mean :  0.82 SD :  0.04 N :  3
P-Value :  0.00163946550983
********************
Result :  ********************

                     five Average5   SD5   p_vales
0  Normalized to B actin   TET2-T1    SD  p-values
1                     air     1.00  0.01        NA
2                  4l/min     0.89  0.16    0.3004
3                  1l/min     0.78  0.01         0
4                0.5l/min     0.82  0.04    0.0016

Data :

                     five Average5   SD5
0  Normalized to B actin   TET3-T1    SD
1                     air     1.00  0.07
2                  4l/min     1.03  0.12
3                  1l/min     0.85  0.08
4                0.5l/min     0.78  0.10

********************
Air :  Mean :  1.0 SD :  0.07 N :  3
4l/min Mean :  1.03 SD :  0.12 N :  3
P-Value :  0.727365969861
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
1l/min Mean :  0.85 SD :  0.08 N :  3
P-Value :  0.0708971143203
********************
Air :  Mean :  1.0 SD :  0.07 N :  3
0.5l/min Mean :  0.78 SD :  0.1 N :  3
P-Value :  0.0354685622824
********************
Result :  ********************

                     five Average5   SD5   p_vales
0  Normalized to B actin   TET3-T1    SD  p-values
1                     air     1.00  0.07        NA
2                  4l/min     1.03  0.12    0.7274
3                  1l/min     0.85  0.08    0.0709
4                0.5l/min     0.78  0.10    0.0355

In [17]:
get_experiment(df,columns6,result_path,"df-part-6")

Data :

                   six Average6   SD6
0  Normalized to GAPDH  AHRR-T1    SD
1                  air     1.00  0.02
2               4l/min     1.47  0.31
3               1l/min     1.96  0.27
4             0.5l/min     3.06  0.35

********************
Air :  Mean :  1.0 SD :  0.02 N :  3
4l/min Mean :  1.47 SD :  0.31 N :  3
P-Value :  0.0587645745999
********************
Air :  Mean :  1.0 SD :  0.02 N :  3
1l/min Mean :  1.96 SD :  0.27 N :  3
P-Value :  0.00356386814792
********************
Air :  Mean :  1.0 SD :  0.02 N :  3
0.5l/min Mean :  3.06 SD :  0.35 N :  3
P-Value :  0.000524925434059
********************
Result :  ********************

                   six Average6   SD6   p_vales
0  Normalized to GAPDH  AHRR-T1    SD  p-values
1                  air     1.00  0.02        NA
2               4l/min     1.47  0.31    0.0588
3               1l/min     1.96  0.27    0.0036
4             0.5l/min     3.06  0.35    0.0005

Data :

                   six   Average6   SD6
0  Normalized to GAPDH  ALU RT-T1    SD
1                  air       1.00  0.06
2               4l/min       0.83  0.17
3               1l/min       0.59  0.14
4             0.5l/min       0.44  0.05

********************
Air :  Mean :  1.0 SD :  0.06 N :  3
4l/min Mean :  0.83 SD :  0.17 N :  3
P-Value :  0.177742149222
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
1l/min Mean :  0.59 SD :  0.14 N :  3
P-Value :  0.00957309710239
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
0.5l/min Mean :  0.44 SD :  0.05 N :  3
P-Value :  0.000241698004409
********************
Result :  ********************

                   six   Average6   SD6   p_vales
0  Normalized to GAPDH  ALU RT-T1    SD  p-values
1                  air       1.00  0.06        NA
2               4l/min       0.83  0.17    0.1777
3               1l/min       0.59  0.14    0.0096
4             0.5l/min       0.44  0.05    0.0002

Data :

                   six Average6   SD6
0  Normalized to GAPDH  GPX3-T1    SD
1                  air     1.00  0.08
2               4l/min     1.30  0.20
3               1l/min     1.45  0.20
4             0.5l/min     1.65  0.39

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  1.3 SD :  0.2 N :  3
P-Value :  0.0733755505698
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  1.45 SD :  0.2 N :  3
P-Value :  0.0223893636969
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  1.65 SD :  0.39 N :  3
P-Value :  0.0474474972479
********************
Result :  ********************

                   six Average6   SD6   p_vales
0  Normalized to GAPDH  GPX3-T1    SD  p-values
1                  air     1.00  0.08        NA
2               4l/min     1.30  0.20    0.0734
3               1l/min     1.45  0.20    0.0224
4             0.5l/min     1.65  0.39    0.0474

Data :

                   six     Average6   SD6
0  Normalized to GAPDH  HS 3 UTR-T1    SD
1                  air         1.00  0.02
2               4l/min         0.83  0.15
3               1l/min         0.56  0.15
4             0.5l/min         0.41  0.03

********************
Air :  Mean :  1.0 SD :  0.02 N :  3
4l/min Mean :  0.83 SD :  0.15 N :  3
P-Value :  0.123555559559
********************
Air :  Mean :  1.0 SD :  0.02 N :  3
1l/min Mean :  0.56 SD :  0.15 N :  3
P-Value :  0.00730199866836
********************
Air :  Mean :  1.0 SD :  0.02 N :  3
0.5l/min Mean :  0.41 SD :  0.03 N :  3
P-Value :  9.22129152158e-06
********************
Result :  ********************

                   six     Average6   SD6   p_vales
0  Normalized to GAPDH  HS 3 UTR-T1    SD  p-values
1                  air         1.00  0.02        NA
2               4l/min         0.83  0.15    0.1236
3               1l/min         0.56  0.15    0.0073
4             0.5l/min         0.41  0.03         0

Data :

                   six     Average6   SD6
0  Normalized to GAPDH  HS 5 UTR-T1    SD
1                  air         1.00  0.08
2               4l/min         0.86  0.16
3               1l/min         0.61  0.17
4             0.5l/min         0.41  0.03

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  0.86 SD :  0.16 N :  3
P-Value :  0.246729625449
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  0.61 SD :  0.17 N :  3
P-Value :  0.022853137921
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  0.41 SD :  0.03 N :  3
P-Value :  0.000280010068397
********************
Result :  ********************

                   six     Average6   SD6   p_vales
0  Normalized to GAPDH  HS 5 UTR-T1    SD  p-values
1                  air         1.00  0.08        NA
2               4l/min         0.86  0.16    0.2467
3               1l/min         0.61  0.17    0.0229
4             0.5l/min         0.41  0.03    0.0003

Data :

                   six Average6   SD6
0  Normalized to GAPDH  ORF1-T1    SD
1                  air     1.00  0.04
2               4l/min     0.87  0.12
3               1l/min     0.61  0.16
4             0.5l/min     0.41  0.04

********************
Air :  Mean :  1.0 SD :  0.04 N :  3
4l/min Mean :  0.87 SD :  0.12 N :  3
P-Value :  0.149667131159
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
1l/min Mean :  0.61 SD :  0.16 N :  3
P-Value :  0.014903935267
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
0.5l/min Mean :  0.41 SD :  0.04 N :  3
P-Value :  5.52052550165e-05
********************
Result :  ********************

                   six Average6   SD6   p_vales
0  Normalized to GAPDH  ORF1-T1    SD  p-values
1                  air     1.00  0.04        NA
2               4l/min     0.87  0.12    0.1497
3               1l/min     0.61  0.16    0.0149
4             0.5l/min     0.41  0.04    0.0001

Data :

                   six Average6   SD6
0  Normalized to GAPDH  ORF2-T1    SD
1                  air     1.00  0.05
2               4l/min     0.85  0.20
3               1l/min     0.61  0.16
4             0.5l/min     0.42  0.05

********************
Air :  Mean :  1.0 SD :  0.05 N :  3
4l/min Mean :  0.85 SD :  0.2 N :  3
P-Value :  0.276087318865
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
1l/min Mean :  0.61 SD :  0.16 N :  3
P-Value :  0.0157375505457
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
0.5l/min Mean :  0.42 SD :  0.05 N :  3
P-Value :  0.00014253671222
********************
Result :  ********************

                   six Average6   SD6   p_vales
0  Normalized to GAPDH  ORF2-T1    SD  p-values
1                  air     1.00  0.05        NA
2               4l/min     0.85  0.20    0.2761
3               1l/min     0.61  0.16    0.0157
4             0.5l/min     0.42  0.05    0.0001

Data :

   six             Average6        SD6
0  NaN  Normalized to GAPDH  CYP1A1-T1
1  NaN                  air       1.02
2  NaN               4l/min      71.04
3  NaN               1l/min     758.00
4  NaN             0.5l/min    3969.23

********************

ValueError: could not convert string to float: 'air'

In [18]:
get_experiment(df,columns7,result_path,"df-part-7")

Data :

                    seven Average7   SD7
0  Normalized to B actin   AHRR-T0    SD
1                     air     1.00  0.05
2                  4l/min     7.31  1.50
3                  1l/min    16.16  0.96
4                0.5l/min    12.07  1.90

********************
Air :  Mean :  1.0 SD :  0.05 N :  3
4l/min Mean :  7.31 SD :  1.5 N :  3
P-Value :  0.00188974806849
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
1l/min Mean :  16.16 SD :  0.96 N :  3
P-Value :  1.06826566086e-05
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
0.5l/min Mean :  12.07 SD :  1.9 N :  3
P-Value :  0.000543258170343
********************
Result :  ********************

                    seven Average7   SD7   p_vales
0  Normalized to B actin   AHRR-T0    SD  p-values
1                     air     1.00  0.05        NA
2                  4l/min     7.31  1.50    0.0019
3                  1l/min    16.16  0.96         0
4                0.5l/min    12.07  1.90    0.0005

Data :

                    seven   Average7   SD7
0  Normalized to B actin   Alu-RT-T0    SD
1                     air       1.00  0.06
2                  4l/min       1.21  0.24
3                  1l/min       0.87  0.14
4                0.5l/min       0.76  0.03

********************
Air :  Mean :  1.0 SD :  0.06 N :  3
4l/min Mean :  1.21 SD :  0.24 N :  3
P-Value :  0.215431954178
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
1l/min Mean :  0.87 SD :  0.14 N :  3
P-Value :  0.213405160628
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
0.5l/min Mean :  0.76 SD :  0.03 N :  3
P-Value :  0.00344838473909
********************
Result :  ********************

                    seven   Average7   SD7   p_vales
0  Normalized to B actin   Alu-RT-T0    SD  p-values
1                     air       1.00  0.06        NA
2                  4l/min       1.21  0.24    0.2154
3                  1l/min       0.87  0.14    0.2134
4                0.5l/min       0.76  0.03    0.0034

Data :

                    seven Average7   SD7
0  Normalized to B actin   GPX3-T0    SD
1                     air     1.01  0.08
2                  4l/min     0.99  0.05
3                  1l/min     1.19  0.07
4                0.5l/min     1.70  0.07

********************
Air :  Mean :  1.01 SD :  0.08 N :  3
4l/min Mean :  0.99 SD :  0.05 N :  3
P-Value :  0.73207604979
********************
Air :  Mean :  1.01 SD :  0.08 N :  3
1l/min Mean :  1.19 SD :  0.07 N :  3
P-Value :  0.0426911083679
********************
Air :  Mean :  1.01 SD :  0.08 N :  3
0.5l/min Mean :  1.7 SD :  0.07 N :  3
P-Value :  0.000356536038062
********************
Result :  ********************

                    seven Average7   SD7   p_vales
0  Normalized to B actin   GPX3-T0    SD  p-values
1                     air     1.01  0.08        NA
2                  4l/min     0.99  0.05    0.7321
3                  1l/min     1.19  0.07    0.0427
4                0.5l/min     1.70  0.07    0.0004

Data :

                    seven         Average7   SD7
0  Normalized to B actin   HSLINE 3 UTR-T0    SD
1                     air             1.00  0.04
2                  4l/min             1.08  0.22
3                  1l/min             0.84  0.11
4                0.5l/min             0.63  0.15

********************
Air :  Mean :  1.0 SD :  0.04 N :  3
4l/min Mean :  1.08 SD :  0.22 N :  3
P-Value :  0.569024410562
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
1l/min Mean :  0.84 SD :  0.11 N :  3
P-Value :  0.0770165783715
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
0.5l/min Mean :  0.63 SD :  0.15 N :  3
P-Value :  0.0145159285898
********************
Result :  ********************

                    seven         Average7   SD7   p_vales
0  Normalized to B actin   HSLINE 3 UTR-T0    SD  p-values
1                     air             1.00  0.04        NA
2                  4l/min             1.08  0.22     0.569
3                  1l/min             0.84  0.11     0.077
4                0.5l/min             0.63  0.15    0.0145

Data :

                    seven         Average7   SD7
0  Normalized to B actin   HS LINE 5UTR-T0    SD
1                     air             1.00  0.09
2                  4l/min             1.01  0.15
3                  1l/min             0.85  0.13
4                0.5l/min             0.58  0.05

********************
Air :  Mean :  1.0 SD :  0.09 N :  3
4l/min Mean :  1.01 SD :  0.15 N :  3
P-Value :  0.925890221967
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
1l/min Mean :  0.85 SD :  0.13 N :  3
P-Value :  0.175693108631
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
0.5l/min Mean :  0.58 SD :  0.05 N :  3
P-Value :  0.00211663574189
********************
Result :  ********************

                    seven         Average7   SD7   p_vales
0  Normalized to B actin   HS LINE 5UTR-T0    SD  p-values
1                     air             1.00  0.09        NA
2                  4l/min             1.01  0.15    0.9259
3                  1l/min             0.85  0.13    0.1757
4                0.5l/min             0.58  0.05    0.0021

Data :

                    seven Average7   SD7
0  Normalized to B actin   ORF1-T0    SD
1                     air     1.01  0.14
2                  4l/min     1.18  0.20
3                  1l/min     0.94  0.15
4                0.5l/min     0.67  0.08

********************
Air :  Mean :  1.01 SD :  0.14 N :  3
4l/min Mean :  1.18 SD :  0.2 N :  3
P-Value :  0.294234527872
********************
Air :  Mean :  1.01 SD :  0.14 N :  3
1l/min Mean :  0.94 SD :  0.15 N :  3
P-Value :  0.586357542482
********************
Air :  Mean :  1.01 SD :  0.14 N :  3
0.5l/min Mean :  0.67 SD :  0.08 N :  3
P-Value :  0.0217295115009
********************
Result :  ********************

                    seven Average7   SD7   p_vales
0  Normalized to B actin   ORF1-T0    SD  p-values
1                     air     1.01  0.14        NA
2                  4l/min     1.18  0.20    0.2942
3                  1l/min     0.94  0.15    0.5864
4                0.5l/min     0.67  0.08    0.0217

Data :

                    seven Average7   SD7
0  Normalized to B actin   ORF2-T0    SD
1                     air     1.00  0.06
2                  4l/min     1.18  0.25
3                  1l/min     0.91  0.14
4                0.5l/min     0.67  0.11

********************
Air :  Mean :  1.0 SD :  0.06 N :  3
4l/min Mean :  1.18 SD :  0.25 N :  3
P-Value :  0.29198642386
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
1l/min Mean :  0.91 SD :  0.14 N :  3
P-Value :  0.36395835638
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
0.5l/min Mean :  0.67 SD :  0.11 N :  3
P-Value :  0.0103256831801
********************
Result :  ********************

                    seven Average7   SD7   p_vales
0  Normalized to B actin   ORF2-T0    SD  p-values
1                     air     1.00  0.06        NA
2                  4l/min     1.18  0.25     0.292
3                  1l/min     0.91  0.14     0.364
4                0.5l/min     0.67  0.11    0.0103

Data :

                    seven    Average7     SD7
0  Normalized to B actin   CY1P1A1-T0      SD
1                     air        1.06    0.41
2                  4l/min     1487.71  210.27
3                  1l/min     9406.97  128.81
4                0.5l/min     7993.70  592.42

********************
Air :  Mean :  1.06 SD :  0.41 N :  3
4l/min Mean :  1487.71 SD :  210.27 N :  3
P-Value :  0.000255341900059
********************
Air :  Mean :  1.06 SD :  0.41 N :  3
1l/min Mean :  9406.97 SD :  128.81 N :  3
P-Value :  2.34385968933e-08
********************
Air :  Mean :  1.06 SD :  0.41 N :  3
0.5l/min Mean :  7993.7 SD :  592.42 N :  3
P-Value :  1.98784894891e-05
********************
Result :  ********************

                    seven    Average7     SD7   p_vales
0  Normalized to B actin   CY1P1A1-T0      SD  p-values
1                     air        1.06    0.41        NA
2                  4l/min     1487.71  210.27    0.0003
3                  1l/min     9406.97  128.81         0
4                0.5l/min     7993.70  592.42         0

Data :

                    seven   Average7   SD7
0  Normalized to B actin   DNMT3b-T0    SD
1                     air       1.00  0.05
2                  4l/min       1.09  0.18
3                  1l/min       0.83  0.06
4                0.5l/min       0.52  0.06

********************
Air :  Mean :  1.0 SD :  0.05 N :  3
4l/min Mean :  1.09 SD :  0.18 N :  3
P-Value :  0.450973358818
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
1l/min Mean :  0.83 SD :  0.06 N :  3
P-Value :  0.0196039858832
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
0.5l/min Mean :  0.52 SD :  0.06 N :  3
P-Value :  0.000441036243774
********************
Result :  ********************

                    seven   Average7   SD7   p_vales
0  Normalized to B actin   DNMT3b-T0    SD  p-values
1                     air       1.00  0.05        NA
2                  4l/min       1.09  0.18     0.451
3                  1l/min       0.83  0.06    0.0196
4                0.5l/min       0.52  0.06    0.0004

Data :

                    seven   Average7   SD7
0  Normalized to B actin   DNMT3a-T0    SD
1                     air       1.00  0.04
2                  4l/min       1.04  0.10
3                  1l/min       0.92  0.02
4                0.5l/min       0.64  0.19

********************
Air :  Mean :  1.0 SD :  0.04 N :  3
4l/min Mean :  1.04 SD :  0.1 N :  3
P-Value :  0.55507315219
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
1l/min Mean :  0.92 SD :  0.02 N :  3
P-Value :  0.0362778245219
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
0.5l/min Mean :  0.64 SD :  0.19 N :  3
P-Value :  0.0325459825593
********************
Result :  ********************

                    seven   Average7   SD7   p_vales
0  Normalized to B actin   DNMT3a-T0    SD  p-values
1                     air       1.00  0.04        NA
2                  4l/min       1.04  0.10    0.5551
3                  1l/min       0.92  0.02    0.0363
4                0.5l/min       0.64  0.19    0.0325

Data :

                    seven  Average7   SD7
0  Normalized to B actin   DNMT1-T0    SD
1                     air      1.00  0.04
2                  4l/min      0.97  0.12
3                  1l/min      0.90  0.03
4                0.5l/min      0.69  0.01

********************
Air :  Mean :  1.0 SD :  0.04 N :  3
4l/min Mean :  0.97 SD :  0.12 N :  3
P-Value :  0.702278441416
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
1l/min Mean :  0.9 SD :  0.03 N :  3
P-Value :  0.0257214207425
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
0.5l/min Mean :  0.69 SD :  0.01 N :  3
P-Value :  0.000200667632062
********************
Result :  ********************

                    seven  Average7   SD7   p_vales
0  Normalized to B actin   DNMT1-T0    SD  p-values
1                     air      1.00  0.04        NA
2                  4l/min      0.97  0.12    0.7023
3                  1l/min      0.90  0.03    0.0257
4                0.5l/min      0.69  0.01    0.0002

Data :

                    seven Average7   SD7
0  Normalized to B actin   TET1-T0    SD
1                     air     1.00  0.15
2                  4l/min     1.44  0.37
3                  1l/min     0.69  0.25
4                0.5l/min     0.21  0.10

********************
Air :  Mean :  1.0 SD :  0.15 N :  3
4l/min Mean :  1.44 SD :  0.37 N :  3
P-Value :  0.128918392009
********************
Air :  Mean :  1.0 SD :  0.15 N :  3
1l/min Mean :  0.69 SD :  0.25 N :  3
P-Value :  0.139327630447
********************
Air :  Mean :  1.0 SD :  0.15 N :  3
0.5l/min Mean :  0.21 SD :  0.1 N :  3
P-Value :  0.00161625331612
********************
Result :  ********************

                    seven Average7   SD7   p_vales
0  Normalized to B actin   TET1-T0    SD  p-values
1                     air     1.00  0.15        NA
2                  4l/min     1.44  0.37    0.1289
3                  1l/min     0.69  0.25    0.1393
4                0.5l/min     0.21  0.10    0.0016

Data :

                    seven Average7   SD7
0  Normalized to B actin   TET2-T0    SD
1                     air     1.00  0.01
2                  4l/min     0.98  0.16
3                  1l/min     0.86  0.03
4                0.5l/min     0.64  0.04

********************
Air :  Mean :  1.0 SD :  0.01 N :  3
4l/min Mean :  0.98 SD :  0.16 N :  3
P-Value :  0.839493868136
********************
Air :  Mean :  1.0 SD :  0.01 N :  3
1l/min Mean :  0.86 SD :  0.03 N :  3
P-Value :  0.00155486933689
********************
Air :  Mean :  1.0 SD :  0.01 N :  3
0.5l/min Mean :  0.64 SD :  0.04 N :  3
P-Value :  0.000111440229906
********************
Result :  ********************

                    seven Average7   SD7   p_vales
0  Normalized to B actin   TET2-T0    SD  p-values
1                     air     1.00  0.01        NA
2                  4l/min     0.98  0.16    0.8395
3                  1l/min     0.86  0.03    0.0016
4                0.5l/min     0.64  0.04    0.0001

Data :

                    seven Average7   SD7
0  Normalized to B actin   TET3-T0    SD
1                     air     1.00  0.04
2                  4l/min     0.92  0.10
3                  1l/min     0.86  0.06
4                0.5l/min     0.80  0.03

********************
Air :  Mean :  1.0 SD :  0.04 N :  3
4l/min Mean :  0.92 SD :  0.1 N :  3
P-Value :  0.267668321112
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
1l/min Mean :  0.86 SD :  0.06 N :  3
P-Value :  0.0282342888553
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
0.5l/min Mean :  0.8 SD :  0.03 N :  3
P-Value :  0.00227842629138
********************
Result :  ********************

                    seven Average7   SD7   p_vales
0  Normalized to B actin   TET3-T0    SD  p-values
1                     air     1.00  0.04        NA
2                  4l/min     0.92  0.10    0.2677
3                  1l/min     0.86  0.06    0.0282
4                0.5l/min     0.80  0.03    0.0023

In [19]:
get_experiment(df,columns8,result_path,"df-part-8")

Data :

                 eight Average8   SD8
0  Normalized to GAPDH  AHRR-T0    SD
1                  air     1.00  0.08
2               4l/min     6.52  1.18
3               1l/min    15.03  0.44
4             0.5l/min    10.45  1.30

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  6.52 SD :  1.18 N :  3
P-Value :  0.00127235613249
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  15.03 SD :  0.44 N :  3
P-Value :  6.86685846989e-07
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  10.45 SD :  1.3 N :  3
P-Value :  0.000230740479977
********************
Result :  ********************

                 eight Average8   SD8   p_vales
0  Normalized to GAPDH  AHRR-T0    SD  p-values
1                  air     1.00  0.08        NA
2               4l/min     6.52  1.18    0.0013
3               1l/min    15.03  0.44         0
4             0.5l/min    10.45  1.30    0.0002

Data :

                 eight   Average8   SD8
0  Normalized to GAPDH  ALU-RT-T0    SD
1                  air       1.00  0.05
2               4l/min       1.08  0.17
3               1l/min       0.81  0.10
4             0.5l/min       0.66  0.01

********************
Air :  Mean :  1.0 SD :  0.05 N :  3
4l/min Mean :  1.08 SD :  0.17 N :  3
P-Value :  0.477934348118
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
1l/min Mean :  0.81 SD :  0.1 N :  3
P-Value :  0.0422430305045
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
0.5l/min Mean :  0.66 SD :  0.01 N :  3
P-Value :  0.000321025341833
********************
Result :  ********************

                 eight   Average8   SD8   p_vales
0  Normalized to GAPDH  ALU-RT-T0    SD  p-values
1                  air       1.00  0.05        NA
2               4l/min       1.08  0.17    0.4779
3               1l/min       0.81  0.10    0.0422
4             0.5l/min       0.66  0.01    0.0003

Data :

                 eight Average8   SD8
0  Normalized to GAPDH  GPX3-T0    SD
1                  air     1.00  0.12
2               4l/min     0.88  0.10
3               1l/min     1.10  0.08
4             0.5l/min     1.46  0.11

********************
Air :  Mean :  1.0 SD :  0.12 N :  3
4l/min Mean :  0.88 SD :  0.1 N :  3
P-Value :  0.254107527674
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
1l/min Mean :  1.1 SD :  0.08 N :  3
P-Value :  0.296017370171
********************
Air :  Mean :  1.0 SD :  0.12 N :  3
0.5l/min Mean :  1.46 SD :  0.11 N :  3
P-Value :  0.0080766971115
********************
Result :  ********************

                 eight Average8   SD8   p_vales
0  Normalized to GAPDH  GPX3-T0    SD  p-values
1                  air     1.00  0.12        NA
2               4l/min     0.88  0.10    0.2541
3               1l/min     1.10  0.08     0.296
4             0.5l/min     1.46  0.11    0.0081

Data :

                 eight         Average8   SD8
0  Normalized to GAPDH  HSLINE 3 UTR-T0    SD
1                  air             1.00  0.06
2               4l/min             0.96  0.16
3               1l/min             0.78  0.08
4             0.5l/min             0.55  0.12

********************
Air :  Mean :  1.0 SD :  0.06 N :  3
4l/min Mean :  0.96 SD :  0.16 N :  3
P-Value :  0.70590153256
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
1l/min Mean :  0.78 SD :  0.08 N :  3
P-Value :  0.0189318175513
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
0.5l/min Mean :  0.55 SD :  0.12 N :  3
P-Value :  0.0043685935956
********************
Result :  ********************

                 eight         Average8   SD8   p_vales
0  Normalized to GAPDH  HSLINE 3 UTR-T0    SD  p-values
1                  air             1.00  0.06        NA
2               4l/min             0.96  0.16    0.7059
3               1l/min             0.78  0.08    0.0189
4             0.5l/min             0.55  0.12    0.0044

Data :

                 eight         Average8   SD8
0  Normalized to GAPDH  HS LINE 5UTR-T0    SD
1                  air             1.00  0.05
2               4l/min             0.90  0.11
3               1l/min             0.79  0.10
4             0.5l/min             0.50  0.05

********************
Air :  Mean :  1.0 SD :  0.05 N :  3
4l/min Mean :  0.9 SD :  0.11 N :  3
P-Value :  0.225021683066
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
1l/min Mean :  0.79 SD :  0.1 N :  3
P-Value :  0.0312778697714
********************
Air :  Mean :  1.0 SD :  0.05 N :  3
0.5l/min Mean :  0.5 SD :  0.05 N :  3
P-Value :  0.000255216749442
********************
Result :  ********************

                 eight         Average8   SD8   p_vales
0  Normalized to GAPDH  HS LINE 5UTR-T0    SD  p-values
1                  air             1.00  0.05        NA
2               4l/min             0.90  0.11     0.225
3               1l/min             0.79  0.10    0.0313
4             0.5l/min             0.50  0.05    0.0003

Data :

                 eight Average8   SD8
0  Normalized to GAPDH  ORF1-T0    SD
1                  air     1.01  0.11
2               4l/min     1.05  0.15
3               1l/min     0.88  0.12
4             0.5l/min     0.58  0.07

********************
Air :  Mean :  1.01 SD :  0.11 N :  3
4l/min Mean :  1.05 SD :  0.15 N :  3
P-Value :  0.728443248902
********************
Air :  Mean :  1.01 SD :  0.11 N :  3
1l/min Mean :  0.88 SD :  0.12 N :  3
P-Value :  0.238799761955
********************
Air :  Mean :  1.01 SD :  0.11 N :  3
0.5l/min Mean :  0.58 SD :  0.07 N :  3
P-Value :  0.00464546239593
********************
Result :  ********************

                 eight Average8   SD8   p_vales
0  Normalized to GAPDH  ORF1-T0    SD  p-values
1                  air     1.01  0.11        NA
2               4l/min     1.05  0.15    0.7284
3               1l/min     0.88  0.12    0.2388
4             0.5l/min     0.58  0.07    0.0046

Data :

                 eight Average8   SD8
0  Normalized to GAPDH  ORF2-T0    SD
1                  air     1.00  0.04
2               4l/min     1.05  0.18
3               1l/min     0.85  0.11
4             0.5l/min     0.58  0.09

********************
Air :  Mean :  1.0 SD :  0.04 N :  3
4l/min Mean :  1.05 SD :  0.18 N :  3
P-Value :  0.663051791374
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
1l/min Mean :  0.85 SD :  0.11 N :  3
P-Value :  0.0906438648365
********************
Air :  Mean :  1.0 SD :  0.04 N :  3
0.5l/min Mean :  0.58 SD :  0.09 N :  3
P-Value :  0.0017912869239
********************
Result :  ********************

                 eight Average8   SD8   p_vales
0  Normalized to GAPDH  ORF2-T0    SD  p-values
1                  air     1.00  0.04        NA
2               4l/min     1.05  0.18    0.6631
3               1l/min     0.85  0.11    0.0906
4             0.5l/min     0.58  0.09    0.0018

Data :

                 eight    Average8     SD8
0  Normalized to GAPDH  CY1P1A1-T0      SD
1                  air        1.07    0.45
2               4l/min     1330.74  188.79
3               1l/min     8759.31  378.43
4             0.5l/min     6940.40  457.14

********************
Air :  Mean :  1.07 SD :  0.45 N :  3
4l/min Mean :  1330.74 SD :  188.79 N :  3
P-Value :  0.000259205853401
********************
Air :  Mean :  1.07 SD :  0.45 N :  3
1l/min Mean :  8759.31 SD :  378.43 N :  3
P-Value :  2.31411621116e-06
********************
Air :  Mean :  1.07 SD :  0.45 N :  3
0.5l/min Mean :  6940.4 SD :  457.14 N :  3
P-Value :  1.2435395574e-05
********************
Result :  ********************

                 eight    Average8     SD8   p_vales
0  Normalized to GAPDH  CY1P1A1-T0      SD  p-values
1                  air        1.07    0.45        NA
2               4l/min     1330.74  188.79    0.0003
3               1l/min     8759.31  378.43         0
4             0.5l/min     6940.40  457.14         0

Data :

                 eight   Average8   SD8
0  Normalized to GAPDH  DNMT3B-T0    SD
1                  air       1.00  0.06
2               4l/min       0.98  0.15
3               1l/min       0.77  0.04
4             0.5l/min       0.45  0.04

********************
Air :  Mean :  1.0 SD :  0.06 N :  3
4l/min Mean :  0.98 SD :  0.15 N :  3
P-Value :  0.840705146587
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
1l/min Mean :  0.77 SD :  0.04 N :  3
P-Value :  0.00524358447147
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
0.5l/min Mean :  0.45 SD :  0.04 N :  3
P-Value :  0.00018969420216
********************
Result :  ********************

                 eight   Average8   SD8   p_vales
0  Normalized to GAPDH  DNMT3B-T0    SD  p-values
1                  air       1.00  0.06        NA
2               4l/min       0.98  0.15    0.8407
3               1l/min       0.77  0.04    0.0052
4             0.5l/min       0.45  0.04    0.0002

Data :

                 eight   Average8   SD8
0  Normalized to GAPDH  DNMT3a-T0    SD
1                  air       1.00  0.08
2               4l/min       0.93  0.08
3               1l/min       0.86  0.01
4             0.5l/min       0.55  0.15

********************
Air :  Mean :  1.0 SD :  0.08 N :  3
4l/min Mean :  0.93 SD :  0.08 N :  3
P-Value :  0.344229856922
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
1l/min Mean :  0.86 SD :  0.01 N :  3
P-Value :  0.0396407153609
********************
Air :  Mean :  1.0 SD :  0.08 N :  3
0.5l/min Mean :  0.55 SD :  0.15 N :  3
P-Value :  0.0101462751981
********************
Result :  ********************

                 eight   Average8   SD8   p_vales
0  Normalized to GAPDH  DNMT3a-T0    SD  p-values
1                  air       1.00  0.08        NA
2               4l/min       0.93  0.08    0.3442
3               1l/min       0.86  0.01    0.0396
4             0.5l/min       0.55  0.15    0.0101

Data :

                 eight  Average8   SD8
0  Normalized to GAPDH  DNMT1-T0    SD
1                  air      1.00  0.06
2               4l/min      0.87  0.10
3               1l/min      0.83  0.05
4             0.5l/min      0.60  0.02

********************
Air :  Mean :  1.0 SD :  0.06 N :  3
4l/min Mean :  0.87 SD :  0.1 N :  3
P-Value :  0.125701466733
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
1l/min Mean :  0.83 SD :  0.05 N :  3
P-Value :  0.0196039858832
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
0.5l/min Mean :  0.6 SD :  0.02 N :  3
P-Value :  0.000394492232523
********************
Result :  ********************

                 eight  Average8   SD8   p_vales
0  Normalized to GAPDH  DNMT1-T0    SD  p-values
1                  air      1.00  0.06        NA
2               4l/min      0.87  0.10    0.1257
3               1l/min      0.83  0.05    0.0196
4             0.5l/min      0.60  0.02    0.0004

Data :

                 eight Average8   SD8
0  Normalized to GAPDH  TET1-T0    SD
1                  air     1.00  0.06
2               4l/min     1.28  0.29
3               1l/min     0.65  0.23
4             0.5l/min     0.18  0.08

********************
Air :  Mean :  1.0 SD :  0.06 N :  3
4l/min Mean :  1.28 SD :  0.29 N :  3
P-Value :  0.176838391459
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
1l/min Mean :  0.65 SD :  0.23 N :  3
P-Value :  0.0632800863486
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
0.5l/min Mean :  0.18 SD :  0.08 N :  3
P-Value :  0.000142703596566
********************
Result :  ********************

                 eight Average8   SD8   p_vales
0  Normalized to GAPDH  TET1-T0    SD  p-values
1                  air     1.00  0.06        NA
2               4l/min     1.28  0.29    0.1768
3               1l/min     0.65  0.23    0.0633
4             0.5l/min     0.18  0.08    0.0001

Data :

                 eight Average8   SD8
0  Normalized to GAPDH  TET2-T0    SD
1                  air     1.00  0.09
2               4l/min     0.87  0.11
3               1l/min     0.80  0.03
4             0.5l/min     0.55  0.03

********************
Air :  Mean :  1.0 SD :  0.09 N :  3
4l/min Mean :  0.87 SD :  0.11 N :  3
P-Value :  0.18830807193
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
1l/min Mean :  0.8 SD :  0.03 N :  3
P-Value :  0.0217429784652
********************
Air :  Mean :  1.0 SD :  0.09 N :  3
0.5l/min Mean :  0.55 SD :  0.03 N :  3
P-Value :  0.00119625330979
********************
Result :  ********************

                 eight Average8   SD8   p_vales
0  Normalized to GAPDH  TET2-T0    SD  p-values
1                  air     1.00  0.09        NA
2               4l/min     0.87  0.11    0.1883
3               1l/min     0.80  0.03    0.0217
4             0.5l/min     0.55  0.03    0.0012

Data :

                 eight Average8   SD8
0  Normalized to GAPDH  TET3-T0    SD
1                  air     1.00  0.06
2               4l/min     0.82  0.06
3               1l/min     0.80  0.03
4             0.5l/min     0.70  0.04

********************
Air :  Mean :  1.0 SD :  0.06 N :  3
4l/min Mean :  0.82 SD :  0.06 N :  3
P-Value :  0.0213116411288
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
1l/min Mean :  0.8 SD :  0.03 N :  3
P-Value :  0.00667966078749
********************
Air :  Mean :  1.0 SD :  0.06 N :  3
0.5l/min Mean :  0.7 SD :  0.04 N :  3
P-Value :  0.00196620754056
********************
Result :  ********************

                 eight Average8   SD8   p_vales
0  Normalized to GAPDH  TET3-T0    SD  p-values
1                  air     1.00  0.06        NA
2               4l/min     0.82  0.06    0.0213
3               1l/min     0.80  0.03    0.0067
4             0.5l/min     0.70  0.04     0.002